Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

fix: Mobile viewport height with dynamic URL bar support
  app/globals.css
  app/messages/page.tsx
  app/messages/viewport-fix.ts
  components/messaging/MessagingDashboard.tsx
  components/messaging/ViewportFix.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Remove keyboard shortcut hints from message input
  components/messaging/MessageInput.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Phase 1B critical fixes - dual schema, rate limiting, pagination
  app/api/admin/export/[type]/route.ts
  app/api/admin/moderation/[id]/process/route.ts
  app/api/admin/moderation/queue/route.ts
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  app/api/messaging/messages/[id]/report/route.ts
  components/messaging/MessagingContext.tsx
  docs/FIXES_APPLIED.md
  docs/PHASE_1B_DEPLOYMENT_SUMMARY.md
  docs/PRE_BETA_AUDIT_REPORT.md
  hooks/useRealTimeMessages.ts
  lib/security/rate-limiter.ts
  lib/validations/index.ts
  public/sw.js
  supabase/migrations/20251101000000_fix_critical_pre_beta_issues.sql
  supabase/migrations/20251101000002_sync_messages_v2_to_messages.sql
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/security-team, @care-collective/design-team, @care-collective/database-team

feat: Optimize dashboard UI and update to beta testing banner
  app/dashboard/page.tsx
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team

fix: Remove buggy Skip to Main Content button
  app/layout.tsx
  components/layout/PlatformLayout.tsx
  tests/accessibility.test.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/qa-team

feat: Improve request cancellation UX and hide cancelled requests from public board
  app/dashboard/page.tsx
  app/requests/[id]/RequestActions.tsx
  lib/queries/help-requests-optimized.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/core-team

fix: Handle cancelled requests gracefully with user-friendly error message
  app/api/requests/[id]/route.ts
  components/help-requests/RequestsListWithModal.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

feat: Phase 1C - test fixes, performance optimization, documentation
  __tests__/messaging/moderation.test.ts
  __tests__/messaging/realtime.test.ts
  docs/PHASE_1C_SUMMARY.md
  docs/database/dual-schema-sync-strategy.md
  lib/messaging/realtime.ts
  public/sw.js
  supabase/migrations/20251101000002_sync_messages_v2_to_messages.sql
  supabase/migrations/20251102010000_add_inbox_pagination_index.sql
Owners: @care-collective/qa-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

fix: Exclude cancelled requests from dashboard Your Activity section
  app/dashboard/page.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team

feat: Add My Requests page for viewing personal request history
  app/dashboard/page.tsx
  app/requests/my-requests/page.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team

feat: Add user profile page with request history
  app/profile/page.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

refactor: Apply lazy-loading pattern to fix React Error #419 technical debt
  PROJECT_STATUS.md
  hooks/useRealTimeMessages.ts
  lib/messaging/encryption.ts
  lib/privacy/user-controls.ts
  lib/security/privacy-event-tracker.ts
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/design-team

feat: Simplify messaging UI by removing message type badges
  __tests__/messaging/MessageBubble.test.tsx
  components/messaging/MessageBubble.tsx
Owners: @care-collective/qa-team, @care-collective/frontend-team, @care-collective/core-team

feat: Add comprehensive beta testing framework with welcome modal and bug reporting
  .gitignore
  .playwright-mcp/temp/desktop-messaging-before.png
  .playwright-mcp/temp/mobile-conversation-list-final.png
  .playwright-mcp/temp/mobile-conversation-scrolled.png
  .playwright-mcp/temp/mobile-conversation-view.png
  .playwright-mcp/temp/mobile-messaging-before.png
  .playwright-mcp/temp/prod-mobile-verification.png
  .playwright-mcp/temp/prod-scroll-verification-initial.png
  .playwright-mcp/temp/prod-scroll-verification.png
  .playwright-mcp/test-request-page-redirect.png
  NEXT_SESSION.txt
  app/api/beta/bug-report/route.ts
  app/dashboard/page.tsx
  app/layout.tsx
  components/beta/BetaTesterWrapper.tsx
  components/beta/BetaWelcomeModal.tsx
  components/beta/BugReportButton.tsx
  docs/NEXT_SESSION_PROMPT.md
  docs/beta/BETA_CREDENTIALS_TEMPLATE.md
  docs/beta/BETA_FEEDBACK_TEMPLATE.md
  docs/beta/BETA_TESTER_GUIDE.md
  docs/beta/BETA_TESTER_WELCOME_EMAIL.md
  docs/beta/BETA_TEST_MASTER_PLAN.md
  docs/beta/BETA_TEST_SCENARIOS.md
  docs/beta/README.md
  lib/database.types.ts
  public/sw.js
  supabase/migrations/20250102000001_create_cms_tables.sql
  supabase/migrations/20250102000002_create_calendar_system.sql
  supabase/migrations/20251102000000_add_beta_testing_support.sql
  temp/screenshot-message-overflow.png
Owners: @care-collective/core-team, @care-collective/backend-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

docs: Add dashboard error debug session prompt
  docs/DASHBOARD_ERROR_DEBUG_SESSION.md
Owners: @care-collective/product-team

feat: Implement Phase 2 CMS Admin UI - Community Updates Management
  app/admin/cms/community-updates/page.tsx
  app/admin/cms/page.tsx
  app/admin/page.tsx
  app/api/admin/cms/community-updates/[id]/publish/route.ts
  app/api/admin/cms/community-updates/[id]/route.ts
  app/api/admin/cms/community-updates/route.ts
  app/api/admin/cms/site-content/[key]/publish/route.ts
  app/api/admin/cms/site-content/[key]/route.ts
  app/api/admin/cms/site-content/route.ts
  app/api/messaging/conversations/[id]/messages/route.ts
  app/layout.tsx
  app/messages/page.tsx
  components/admin/cms/CMSDashboard.tsx
  components/admin/cms/CommunityUpdatesManager.tsx
  lib/database.types.ts
  lib/validations/cms.ts
  public/sw.js
  supabase/migrations/20251102000002_create_cms_tables.sql
  supabase/migrations/20251102000003_create_calendar_system.sql
  supabase/migrations/20251102000005_add_v2_read_tracking.sql
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

feat: Implement Phase 3 - Calendar Events & Site Content Management
  app/admin/cms/calendar-events/page.tsx
  app/admin/cms/categories/page.tsx
  app/admin/cms/site-content/page.tsx
  app/api/admin/cms/calendar-events/[id]/publish/route.ts
  app/api/admin/cms/calendar-events/[id]/route.ts
  app/api/admin/cms/calendar-events/categories/[id]/route.ts
  app/api/admin/cms/calendar-events/categories/route.ts
  app/api/admin/cms/calendar-events/route.ts
  app/api/admin/cms/site-content/[section]/publish/route.ts
  components/admin/cms/CMSDashboard.tsx
  components/admin/cms/CalendarEventsManager.tsx
  components/admin/cms/EventCategoriesManager.tsx
  components/admin/cms/SiteContentManager.tsx
  lib/database.types.ts
  lib/validations/cms.ts
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team

fix: Remove duplicate site-content [section] route causing build error
  app/api/admin/cms/site-content/[section]/publish/route.ts
  app/api/messaging/conversations/[id]/messages/route.ts
  components/beta/BetaWelcomeModal.tsx
  components/messaging/MessageInput.tsx
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessagingContext.tsx
  components/messaging/PendingOffersSection.tsx
  lib/database.types.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

feat: Improve modal UX with multiple exit methods and responsive design
  components/beta/BetaWelcomeModal.tsx
  components/beta/BugReportButton.tsx
  docs/BETA_WELCOME_MODAL_UX_IMPROVEMENTS.md
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/design-team

feat: Implement Phase 2 In-App Notification System
  app/api/notifications/[id]/read/route.ts
  app/api/notifications/read-all/route.ts
  app/api/notifications/route.ts
  app/api/notifications/unread-count/route.ts
  components/layout/PlatformLayout.tsx
  components/notifications/NotificationDropdown.tsx
  components/notifications/NotificationItem.tsx
  components/notifications/index.ts
  docs/NOTIFICATION_PHASE_2_IMPLEMENTATION_SUMMARY.md
  hooks/useNotifications.ts
  lib/database.types.ts
  lib/notifications/NotificationService.ts
  lib/notifications/index.ts
  lib/notifications/triggers.ts
  supabase/migrations/20251102000000_create_notifications_table.sql
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/database-team

fix: Remove obsolete notificationsOpen reference causing dashboard crash
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Integrate notification triggers for messages and help requests
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  app/api/requests/[id]/cancel/route.ts
  app/api/requests/[id]/complete/route.ts
  app/requests/[id]/RequestActions.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team

fix: Remove incorrect .single() call from getConversations query
  lib/messaging/client.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Resolve bug report submission failure by removing non-existent email column
  app/api/beta/bug-report/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

feat: Add beta guide reopen button and complete E2E testing
  app/dashboard/page.tsx
  cleanup-test-data.js
  components/beta/BetaTesterWrapper.tsx
  components/beta/BetaWelcomeModal.tsx
  components/dashboard/BetaBannerWithModal.tsx
  docs/beta/AUTOMATED_TEST_RESULTS.md
  docs/beta/TEST_CLEANUP_AND_MODAL_IMPROVEMENTS.md
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Resolve beta guide button not showing modal for beta testers
  components/beta/BetaTesterWrapper.tsx
  components/dashboard/BetaBannerWithModal.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Enable bug report button and beta features for admins
  components/beta/BetaTesterWrapper.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add admin panel button to navigation for admin users
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

debug: Add console logging to debug admin button visibility
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add comprehensive bug reports management system to admin panel
  app/admin/bug-reports/page.tsx
  app/admin/page.tsx
  app/api/beta/bug-report/route.ts
  components/admin/BugReportDetailModal.tsx
  components/admin/BugReportsList.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team

fix: Add client-side validation to bug report form to prevent 400 errors
  components/beta/BugReportButton.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Update footer text from 'Preview Version - Built for Client Review' to 'Beta Version - Built for Community Testing' 🤖 Generated with Claude Code
  app/layout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Resolve authentication loading issues and improve profile display
  components/LogoutButton.tsx
  components/MobileNav.tsx
  lib/auth.ts
  lib/hooks/useAuthNavigation.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/backend-team

chore: Increase auth rate limit to 100 for testing
  lib/security/rate-limiter.ts
Owners: @care-collective/security-team, @care-collective/core-team

feat: Update footer text from 'Preview Version - Built for Client Review' to 'Beta Version - Built for Community Testing' 🤖 Generated with Claude Code
  app/layout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Phase 1 - Critical beta bug fixes and UX improvements
  REMAINING_CLIENT_CHANGES_PLAN.md
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/requests/[id]/edit/route.ts
  app/requests/[id]/RequestActions.tsx
  components/help-requests/EditRequestForm.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  lib/notifications/triggers.ts
  scripts/diagnose-beta-messaging.js
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/database-team

fix: Resolve P0 signup bug and React hydration errors
  .playwright-mcp/beta-welcome-modal-success.png
  app/api/auth/login/route.ts
  app/dashboard/page.tsx
  app/profile/page.tsx
  app/waitlist/page.tsx
  components/ContactExchange.tsx
  components/admin/BugReportDetailModal.tsx
  components/admin/BugReportsList.tsx
  components/admin/cms/CalendarEventsManager.tsx
  components/help-requests/RequestDetailContent.tsx
  components/messaging/MessagingStatusIndicator.tsx
  components/messaging/PresenceIndicator.tsx
  components/messaging/VirtualizedMessageList.tsx
  components/privacy/PrivacyDashboard.tsx
  docs/NOTIFICATION_SYSTEM_PHASES_2_3_4.md
  docs/PHASE_3_CALENDAR_EVENTS_PROMPT.md
  docs/beta/AUTOMATED_TEST_RESULTS.md
  docs/beta/BETA_CREDENTIALS_TEMPLATE.md
  docs/beta/BETA_FEEDBACK_TEMPLATE.md
  docs/beta/BETA_TESTER_GUIDE.md
  docs/beta/BETA_TESTER_WELCOME_EMAIL.md
  docs/beta/BETA_TEST_MASTER_PLAN.md
  docs/beta/BETA_TEST_SCENARIOS.md
  docs/beta/TEST_CLEANUP_AND_MODAL_IMPROVEMENTS.md
  lib/validations.ts
  public/sw.js
  scripts/reset-production-for-beta.sh
  supabase/migrations/20251106_update_user_trigger_for_terms.sql
Owners: @care-collective/core-team, @care-collective/backend-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

chore: Add password/credential files to gitignore to prevent leaks
  .gitignore
Owners: @care-collective/core-team

docs: Add comprehensive testing verification guide for next session
  NEXT_SESSION_TESTING_VERIFICATION.md
Owners: @care-collective/product-team

feat: Phase 1 - Global terminology updates and icon system implementation
  app/about/page.tsx
  app/access-denied/page.tsx
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/signup/page.tsx
  app/admin/users/page.tsx
  app/contact/page.tsx
  app/crisis-resources/page.tsx
  app/dashboard/page.tsx
  app/help/page.tsx
  app/help/workflows/page.tsx
  app/login/page.tsx
  app/messages/page.tsx
  app/not-found.tsx
  app/page.tsx
  app/privacy-policy/page.tsx
  app/privacy/page.tsx
  app/requests/my-requests/page.tsx
  app/requests/page.tsx
  app/resources/page.tsx
  app/signup/page.tsx
  app/terms/page.tsx
  app/verify-email/page.tsx
  app/waitlist/page.tsx
  docs/client/IMPLEMENTATION_PLAN_EMAIL_1024.md
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/product-team, @care-collective/design-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
