Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team

fix: Update serve package version to resolve deployment issue
  package.json
Owners: @care-collective/core-team

fix: Disable service worker to resolve deployment build error
  app/layout.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Remove service worker dynamic imports to fix build error
  components/DynamicComponents.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Remove all service worker references to fix build
  app/layout.tsx
  lib/security/middleware.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/backend-team

fix: Disable web-vitals imports to resolve build error
  components/PerformanceMonitor.tsx
  components/ServiceWorkerRegistration.tsx
  components/WebVitals.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Remove web-vitals dependency completely
  package.json
Owners: @care-collective/core-team

fix: Disable Supabase middleware to resolve Edge Runtime build error
  middleware.ts
Owners: @care-collective/security-team, @care-collective/backend-team

fix: Disable PerformanceMonitor import to resolve server-side build error
  app/admin/performance/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team

fix: Add comprehensive SSR guards and minimal providers for deployment testing
  app/context/ReadableModeContext.tsx
  app/providers.tsx
  components/LazySection.tsx
  lib/error-setup.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team

Fix build failure by adding environment check to logger
  lib/logger.ts
Owners: @care-collective/backend-team

Fix build issues by addressing client-side code in server context
  app/error.tsx
  lib/error-tracking.ts
  lib/supabase-error-handler.ts
  next.config.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team

Add comprehensive webpack fixes for Next.js 15 build issues
  next.config.ts
Owners: @care-collective/core-team

Simplify webpack configuration to minimal self polyfill
  next.config.ts
Owners: @care-collective/core-team

Downgrade to Next.js 14 and add comprehensive build fixes
  app/layout.tsx
  lib/global-polyfills.js
  next.config.js
  package-lock.json
  package.json
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

Add static export configuration as final build fix attempt
  next.config.js
Owners: @care-collective/core-team

feat: Implement comprehensive security infrastructure
  API_DOCUMENTATION.md
  CLIENT_REQUIREMENTS_TRACKER.md
  DEPLOYMENT_GUIDE.md
  DEVELOPMENT_WORKFLOW.md
  FEATURE_IMPLEMENTATION_PLAN.md
  SECURITY_IMPLEMENTATION.md
  TESTING_STRATEGY.md
  claude.md
  components/SafeHTML.tsx
  lib/security/database-safety.ts
  lib/security/password-validation.ts
  lib/security/rate-limiter.ts
  lib/security/sanitization.ts
  lib/security/security-logger.ts
  lib/security/validation-middleware.ts
  lib/security/validation-schemas.ts
  middleware.ts
  package-lock.json
  package.json
  supabase/migrations/20250126_security_infrastructure.sql
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/backend-team, @care-collective/database-team

fix: resolve critical TypeScript errors and implement production-ready features
  CARE_COLLECTIVE_AUDIT_REPORT.md
  CLIENT_STATUS_SUMMARY.md
  DELIVERY_NOTES.md
  PROJECT_ALIGNMENT_CHECK.md
  SUGGESTED_EMAIL_REPLY.md
  app/layout.tsx
  app/requests/[id]/page.tsx
  app/requests/new/page.test.tsx
  components/ContactExchange.test.tsx
  components/ContactExchange.tsx
  components/DynamicComponents.tsx
  components/ErrorBoundary.test.tsx
  components/LazySection.tsx
  components/PerformanceMonitor.tsx
  components/SafeAsyncComponent.tsx
  email-client.pdf
  email.pdf
  emails.pdf
  lib/db-cache.ts
  lib/error-setup.ts
  lib/error-tracking.ts
  lib/logger.ts
  lib/supabase-error-handler.ts
  next.config.js
  package.json
  tests/accessibility.test.tsx
  tests/fixtures/helpRequests.ts
  tests/mocks/supabase.ts
  tsconfig.json
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/qa-team, @care-collective/security-team

fix: resolve deployment build issues with webpack and ESLint config
  next.config.js
Owners: @care-collective/core-team

fix: implement minimal Next.js config to resolve deployment build issues
  next.config.js
Owners: @care-collective/core-team

Simplify Next.js config for successful Vercel deployment
  next.config.js
Owners: @care-collective/core-team

Fix login authentication with Edge Runtime compatible middleware
  lib/supabase/middleware-edge.ts
  middleware.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team

Fix Next.js 15 server-side authentication for all protected pages
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/admin/users/page.tsx
  app/api/auth/logout/route.ts
  app/api/health/deep/route.ts
  app/api/health/ready/route.ts
  app/auth/callback/route.ts
  app/dashboard/page.tsx
  app/requests/[id]/page.tsx
  app/requests/page.tsx
  lib/db-cache.ts
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team

Fix authentication for Next.js 14 and improve error page branding
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/admin/users/page.tsx
  app/api/auth/logout/route.ts
  app/api/health/deep/route.ts
  app/api/health/ready/route.ts
  app/auth/callback/route.ts
  app/dashboard/page.tsx
  app/error.tsx
  app/requests/[id]/page.tsx
  app/requests/page.tsx
  lib/db-cache.ts
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team

Fix Next.js 14 server cookie access pattern
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/core-team

Add comprehensive error handling for database queries
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/dashboard/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/product-team, @care-collective/frontend-team

Fix authentication error: resolve "We're having a moment" page issue
  AUTHENTICATION_ERROR_INVESTIGATION.md
  app/admin/page.tsx
  app/auth-test/page.tsx
  app/dashboard/page.tsx
  lib/db-cache.ts
  lib/supabase/middleware-edge.ts
  lib/supabase/server.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

Fix build: Add dynamic exports to authentication-dependent pages
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/admin/users/page.tsx
  app/api/health/deep/route.ts
  app/auth-test/page.tsx
  app/dashboard/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team

Fix error page: Restore ReadableModeProvider and ErrorBoundary
  app/providers.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Implement comprehensive testing infrastructure improvements
  TESTING_IMPLEMENTATION_COMPLETE.md
  TESTING_ISSUES_AND_FIXES.md
  TESTING_PLAN.md
  app/error.tsx
  app/requests/new/page.tsx
  components/ContactExchange.tsx
  components/ui/form-field.tsx
  components/ui/label.tsx
  components/ui/loading.tsx
  components/ui/textarea.tsx
  lib/auth/session-monitor.ts
  lib/auth/session-sync.ts
  lib/db/queries.ts
  lib/utils/logger.ts
  lib/validations/contact-exchange.ts
  lib/validations/email.ts
  package-lock.json
  package.json
  tests/accessibility/wcag-compliance.test.tsx
  tests/auth/authentication.test.tsx
  tests/features/contact-exchange.test.tsx
  tests/features/help-request-creation.test.tsx
  tests/integration/user-journeys.test.tsx
  tests/setup.ts
  tests/test-integration.ts
  tests/ui/responsive-design.test.tsx
  tests/utils/issue-tracker.ts
  tests/utils/mock-factory.ts
  vitest.config.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/design-team, @care-collective/qa-team

Implement user waitlist system with admin approval workflow
  app/admin/applications/ApprovalActions.tsx
  app/admin/applications/page.tsx
  app/admin/page.tsx
  app/api/notify/route.ts
  app/login/page.tsx
  app/signup/page.tsx
  app/waitlist/page.tsx
  components/ui/dialog.tsx
  lib/database.types.ts
  lib/supabase/middleware-edge.ts
  package-lock.json
  package.json
  supabase/migrations/20250903000000_add_user_verification.sql
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

Fix critical waitlist system issues
  WAITLIST_FIXES.md
  WAITLIST_FIXES_COMPLETED.md
  app/admin/applications/ApprovalActions.tsx
  app/api/auth/logout/route.ts
  app/api/notify/route.ts
  app/auth/callback/route.ts
  app/signup/page.tsx
  app/verify-email/page.tsx
  lib/supabase/middleware.ts
  supabase/migrations/20250903_225420_add_email_confirmation.sql
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/database-team

Fix waitlist error after signup
  app/signup/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

Fix authentication flow issues and session management
  app/login/page.tsx
  app/signup/page.tsx
  app/waitlist/page.tsx
  lib/supabase/middleware-edge.ts
Owners: @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

Simplify session establishment validation to fix login issues
  app/login/page.tsx
  app/signup/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

Fix "Authentication Required" error on requests/new page
  app/requests/new/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

Remove deprecated permissions policy features to fix console warnings
  next.config.js
Owners: @care-collective/core-team

Comprehensive session persistence fixes for authentication issues
  app/providers.tsx
  app/requests/new/page.tsx
  lib/auth-context.tsx
  lib/supabase/client.ts
  lib/supabase/middleware-edge.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team

Add comprehensive dev panel with permissions and database documentation
  app/design-system/colors/page.tsx
  app/design-system/database/page.tsx
  app/design-system/permissions/page.tsx
  app/design-system/typography/page.tsx
  app/page.tsx
Owners: @care-collective/design-team, @care-collective/frontend-team, @care-collective/core-team

Replace demo homepage with native Care Collective homepage
  app/globals.css
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Enhance homepage hero section with improved visual design and interactivity
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team
