Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

🐛 FIX: Make FilterPanel onFilterChange callback optional to fix server component rendering
  app/requests/page.tsx
  components/FilterPanel.tsx
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/core-team

🔧 REFACTOR: Remove unused FilterOptions import
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX (Bug #2 - Privacy Page): Fix Zod schema to accept nullable fields
  lib/privacy/user-controls.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🔧 Force rebuild: Add comment to trigger Next.js cache invalidation
  lib/privacy/user-controls.ts
Owners: @care-collective/backend-team, @care-collective/core-team

📊 UPDATE: Mark Bug #1 and Bug #2 as FIXED in Master Fix Plan
  docs/testing/MASTER_FIX_PLAN.md
Owners: @care-collective/product-team

📝 SESSION 7 COMPLETE: Bug #1 & Bug #2 Verified Fixed
  docs/testing/SESSION_7_SUMMARY.md
Owners: @care-collective/product-team

✅ BUG #3 FIXED: Admin User Management - All Users Now Visible
  docs/testing/MASTER_FIX_PLAN.md
  docs/testing/SESSION_8_SUMMARY.md
  supabase/migrations/20251015000000_add_admin_view_all_profiles_rls.sql
  supabase/migrations/20251015000001_fix_admin_rls_infinite_recursion.sql
Owners: @care-collective/product-team, @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

📚 DOCS: Add comprehensive subagent usage guidelines to CLAUDE.md
  CLAUDE.md
Owners: @care-collective/product-team

✅ BUG #4 FIXED: Session Handling - Wrong User Displayed
  app/api/auth/logout/route.ts
  app/dashboard/page.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team

📚 DOCS: Session 9 - Bug #4 Fix Documentation
  docs/testing/MASTER_FIX_PLAN.md
  docs/testing/SESSION_9_SUMMARY.md
Owners: @care-collective/product-team

✅ BUG #4 VERIFIED: Production testing confirms fix working
  docs/testing/MASTER_FIX_PLAN.md
Owners: @care-collective/product-team

🐛 FIX: Session 10 - Multiple Critical Bug Fixes (P1 Bugs #5-8)
  app/access-denied/page.tsx
  app/requests/[id]/page.tsx
  app/requests/new/page.tsx
  hooks/useRealTimeMessages.ts
  lib/messaging/realtime.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team

🐛 HOTFIX: Add fallback for null profile in request detail page
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

📚 DOCS: Session 10 Summary and Master Fix Plan Update
  docs/testing/MASTER_FIX_PLAN.md
  docs/testing/SESSION_10_SUMMARY.md
Owners: @care-collective/product-team

🐛 FIX: Resolve React hydration error on request detail pages
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX: Replace dynamic import with regular import for ContactExchange
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX: Add suppressHydrationWarning to date elements (Bug #7)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX: Restore ssr: false for ContactExchange (ACTUAL FIX for Bug #7)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

📚 DOCS: Session 11 - Bug #7 Investigation Summary
  docs/testing/MASTER_FIX_PLAN.md
  docs/testing/SESSION_11_SUMMARY.md
Owners: @care-collective/product-team

TEST: Remove MessagingStatusIndicator to isolate Bug #7
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

TEST: Remove ContactExchange to isolate Bug #7 (Test #2)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

TEST: Remove HelpRequestCardWithMessaging to isolate Bug #7 (Test #3)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

TEST: Create minimal page to isolate Bug #7 (Test #4)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX: Bug #7 - Resolve request detail page React error #419
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX: Add defensive data checks to request detail page
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 CRITICAL FIX: Remove await from cookies() for Next.js 14 compatibility
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🐛 CRITICAL FIX: Make createClient() synchronous for Next.js 14
  app/admin/applications/page.tsx
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/admin/privacy/page.tsx
  app/api/admin/applications/route.ts
  app/api/admin/bulk-operations/route.ts
  app/api/admin/export/[type]/route.ts
  app/api/admin/metrics/route.ts
  app/api/admin/stats/route.ts
  app/api/admin/users/[userId]/actions/route.ts
  app/api/admin/users/[userId]/details/route.ts
  app/api/admin/users/route.ts
  app/api/auth/login/route.ts
  app/api/auth/logout/route.ts
  app/api/email/test/route.ts
  app/api/health/deep/route.ts
  app/api/health/ready/route.ts
  app/api/health/route.ts
  app/api/messaging/conversations/route.ts
  app/api/notify/route.ts
  app/api/test-auth/route.ts
  app/auth-test/page.tsx
  app/auth/callback/route.ts
  app/dashboard/page.tsx
  app/messages/page.tsx
  app/privacy/page.tsx
  app/requests/[id]/page.tsx
  app/requests/page.tsx
  lib/db-cache.ts
  lib/db/queries.ts
  lib/queries/help-requests-optimized.ts
  lib/security/sql-safety.ts
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/database-team

Revert "🐛 CRITICAL FIX: Make createClient() synchronous for Next.js 14"
  app/admin/applications/page.tsx
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/admin/privacy/page.tsx
  app/api/admin/applications/route.ts
  app/api/admin/bulk-operations/route.ts
  app/api/admin/export/[type]/route.ts
  app/api/admin/metrics/route.ts
  app/api/admin/stats/route.ts
  app/api/admin/users/[userId]/actions/route.ts
  app/api/admin/users/[userId]/details/route.ts
  app/api/admin/users/route.ts
  app/api/auth/login/route.ts
  app/api/auth/logout/route.ts
  app/api/email/test/route.ts
  app/api/health/deep/route.ts
  app/api/health/ready/route.ts
  app/api/health/route.ts
  app/api/messaging/conversations/route.ts
  app/api/notify/route.ts
  app/api/test-auth/route.ts
  app/auth-test/page.tsx
  app/auth/callback/route.ts
  app/dashboard/page.tsx
  app/messages/page.tsx
  app/privacy/page.tsx
  app/requests/[id]/page.tsx
  app/requests/page.tsx
  lib/db-cache.ts
  lib/db/queries.ts
  lib/queries/help-requests-optimized.ts
  lib/security/sql-safety.ts
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/database-team

🐛 CRITICAL FIX: Resolve browse requests page error (createClient async mismatch)
  app/requests/page.tsx
  docs/BETA_LAUNCH_MASTER_PLAN.md
  docs/BUG_PRIORITY_REPORT.md
  docs/TESTING_STRATEGY.md
  lib/supabase/server.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team

🔒 SECURITY FIX: Add Zod validation to help request creation form
  app/requests/new/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 CRITICAL FIX: Resolve request detail page error + type safety
  app/requests/[id]/RequestActions.tsx
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 CRITICAL FIX: Add await to createClient() in API routes
  app/api/admin/moderation/[id]/process/route.ts
  app/api/admin/moderation/queue/route.ts
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  app/api/messaging/messages/[id]/report/route.ts
  app/api/messaging/preferences/route.ts
  app/api/privacy/user-data/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🐛 CRITICAL FIX: Add await to createClient() in request detail page
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 CRITICAL FIX: Lazy-load Supabase client in moderation service
  lib/messaging/moderation.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🐛 CRITICAL FIX: Lazy-load Supabase client in MessagingClient
  lib/messaging/client.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🐛 CRITICAL FIX: Remove module-level singleton exports
  lib/security/contact-encryption.ts
  lib/security/privacy-event-tracker.ts
Owners: @care-collective/security-team, @care-collective/core-team

🐛 CRITICAL FIX: Remove userPrivacyControls singleton export
  lib/privacy/user-controls.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🐛 FIX: Update helper functions to use getInstance() directly
  lib/privacy/user-controls.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🐛 CRITICAL FIX: Remove logger singleton from error boundary
  .claude/settings.local.json
  .playwright-mcp/.playwright-mcp/access-denied-before-fix.png
  .playwright-mcp/.playwright-mcp/bug-4-FIXED-admin-user-correct.png
  .playwright-mcp/admin-users-bug3-fixed.png
  .playwright-mcp/privacy-page-after-schema-fix.png
  .playwright-mcp/privacy-page-bug-2-empty-content.png
  CLAUDE.md
  NEXT_SESSION_PROMPT.md
  REACT_419_FIX_SUMMARY.md
  SESSION_SUMMARY.md
  app/error.tsx
  docs/client/emails/Resources Page.docx
  docs/client/emails/Send to Evan 10-12.docx
  docs/client/emails/email_4.pdf
  docs/client/emails/emails_1.pdf
  docs/client/emails/emails_2.pdf
  docs/client/emails/emails_3.pdf
  lib/logger.ts
  test-browse-fix.js
Owners: @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/qa-team

🐛 CRITICAL FIX: Remove ALL logger singletons (React Error #419)
  REACT_419_FINAL_FIX.md
  app/api/admin/stats/route.ts
  app/api/error-tracking/route.ts
  app/api/health/deep/route.ts
  app/api/health/route.ts
  app/api/messaging/conversations/route.ts
  components/ErrorBoundary.tsx
  lib/api-error.ts
  lib/auth-context.tsx
  lib/db/queries.ts
  lib/error-setup.ts
  lib/error-tracking.ts
  lib/logger.ts
  lib/supabase-error-handler.ts
  lib/utils/logger.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/security-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
