Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

🐛 ACTUAL FIX: Remove event handler from Server Component (React Error #419)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FINAL FIX: Remove throw + Fix RLS recursion (React Error #419)
  app/requests/[id]/page.tsx
  supabase/migrations/20251021_fix_conversation_participants_recursion.sql
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team, @care-collective/core-team

✅ FIX: Skip SSR messaging queries to resolve React Error #419
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

✅ COMPLETE FIX: Remove throw during SSR (React Error #419)
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🧪 TEST: Ultra-minimal page version to isolate React Error #419
  app/requests/[id]/page-BACKUP-20251021_211203.tsx
  app/requests/[id]/page-BACKUP.tsx
  app/requests/[id]/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

✅ ACTUAL FIX: Remove Logger singleton from AuthProvider (React Error #419)
  REACT_419_INVESTIGATION_SUMMARY.md
  app/requests/[id]/page-BACKUP-20251021_211203.tsx
  app/requests/[id]/page-BACKUP.tsx
  app/requests/[id]/page.tsx
  lib/auth-context.tsx
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team

🔥 CRITICAL: Remove Logger from error-tracking.ts (React Error #419)
  lib/error-tracking.ts
Owners: @care-collective/backend-team, @care-collective/security-team

🔍 DEBUG: Temporarily remove ErrorBoundary to see real error
  app/providers.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

📝 DOC: Final investigation summary for React Error #419
  REACT_419_FINAL_SUMMARY.md
Owners: @care-collective/product-team

📋 PLAN: Modal detail view implementation (Option 2 solution)
  docs/implementation-plans/MODAL_DETAIL_VIEW_PLAN.md
Owners: @care-collective/product-team

✨ FEAT: Modal detail view for help requests (fixes React Error #419)
  MODAL_IMPLEMENTATION_SUMMARY.md
  app/api/requests/[id]/route.ts
  app/requests/[id]/page.tsx
  app/requests/page.tsx
  components/help-requests/RequestDetailContent.tsx
  components/help-requests/RequestDetailModal.tsx
  components/help-requests/RequestsListWithModal.tsx
  components/ui/drawer.tsx
  hooks/useMediaQuery.ts
  package-lock.json
  package.json
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

🐛 FIX: Move functions/objects into client component
  .playwright-mcp/modal-test-after-click.png
  app/requests/page.tsx
  components/help-requests/RequestsListWithModal.tsx
  package-lock.json
  package.json
  tests/e2e/request-modal.spec.ts
Owners: @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/qa-team

💄 FIX: Badge color contrast on requests page
  components/ui/badge.tsx
Owners: @care-collective/design-team, @care-collective/frontend-team

💄 FIX: Badge contrast using Tailwind v4 color variables
  app/globals.css
  components/ui/badge.tsx
Owners: @care-collective/frontend-team, @care-collective/design-team

🐛 FIX: Resolve Vercel build warnings
  app/api/admin/stats/route.ts
  app/api/messaging/preferences/route.ts
  app/api/test-auth/route.ts
  components/ContactExchange.tsx
  components/admin/ModerationDashboard.tsx
  components/admin/PrivacyDashboard.tsx
  components/privacy/PrivacyDashboard.tsx
  lib/messaging/encryption.ts
  lib/security/contact-encryption.ts
  lib/security/privacy-event-tracker.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/security-team

✨ FEAT: Implement 7-category system with subcategories and Terms of Service
  app/requests/new/page.tsx
  app/signup/page.tsx
  app/terms/page.tsx
  components/FilterPanel.tsx
  lib/constants/categories.ts
  lib/database.types.ts
  supabase/migrations/20251022_102205_update_categories_and_add_fields.sql
  supabase/seed.sql
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/database-team

🐛 FIX: Resolve signup database errors
  lib/supabase/admin.ts
Owners: @care-collective/backend-team, @care-collective/core-team

✨ FEAT: Add Terms validation + new pages (About/Contact/Resources/Crisis)
  app/about/page.tsx
  app/contact/page.tsx
  app/crisis-resources/page.tsx
  app/login/page.tsx
  app/page.tsx
  app/resources/page.tsx
  components/MobileNav.tsx
  docs/client/Resources_Page.md
  docs/client/Send_to_Evan_Content.md
  docs/sessions/COMPREHENSIVE_PLATFORM_TESTING_SESSION.md
  docs/sessions/FIX_SIGNUP_TERMS_CHECKBOX.md
  docs/sessions/README.md
  docs/sessions/START_TESTING_SESSION_PROMPT.md
  docs/sessions/TEMPLATE_DESIGN_IMPROVEMENTS.md
  docs/sessions/TEMPLATE_ISSUE_DOCUMENTATION.md
  docs/sessions/TEMPLATE_TESTING_REPORT.md
  docs/sessions/session-2025-10-22-afternoon.md
  docs/sessions/session-2025-10-22.md
  docs/sessions/session-next-prompt.md
  docs/sessions/testing-session-2025-10-22/CRITICAL_ISSUE_SIGNUP_TERMS.md
  docs/sessions/testing-session-2025-10-22/TESTING_STATUS.md
  lib/validations.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/product-team, @care-collective/backend-team

💄 STYLE: Optimize logo sizes for all viewports
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

📝 DOCS: Update deployment workflow with production domain strategy 🤖 Generated with Claude Code
  CLAUDE.md
Owners: @care-collective/product-team

🔧 FIX: Configure proper caching to prevent stale deployment issues
  next.config.js
  vercel.json
Owners: @care-collective/core-team, @care-collective/devops-team

fix: Update cache headers to prevent stale content after deployments
  next.config.js
  vercel.json
Owners: @care-collective/core-team, @care-collective/devops-team

💄 STYLE: Double logo size on login and signup screens
  app/login/page.tsx
  app/signup/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

💄 STYLE: Convert Back to Home links to button components
  app/login/page.tsx
  app/signup/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

🐛 FIX: Resolve React Error #419 hydration issues in request detail modals
  app/requests/[id]/page.tsx
  components/ClientOnly.tsx
  components/help-requests/RequestDetailContent.tsx
  components/help-requests/RequestsListWithModal.tsx
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/core-team

💄 STYLE: Convert Join Our Community button to Button component
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Implement Tier 1.5 PR-based development workflow
  .claude/pr-review-checklist.md
  .claude/workflows/README.md
  .claude/workflows/multi-agent-guide.md
  .claude/workflows/pr-workflow.md
  CLAUDE.md
Owners: @care-collective/product-team

a11y: Add skip navigation link for keyboard accessibility
  app/layout.tsx
  app/login/page.tsx
  app/signup/page.tsx
  components/SkipToContent.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team

a11y: Increase badge text size for improved readability
  components/StatusBadge.tsx
  components/ui/badge.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

a11y: Fix touch target sizes to meet WCAG 2.5.5 (44px minimum)
  components/FilterPanel.tsx
  components/help-requests/RequestsListWithModal.tsx
  components/ui/button.tsx
  components/ui/input.tsx
  components/ui/select.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

a11y: Add skip navigation link for keyboard accessibility (#1)
  app/layout.tsx
  app/login/page.tsx
  app/signup/page.tsx
  components/SkipToContent.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team

a11y: Increase badge text size for improved readability (#2)
  components/StatusBadge.tsx
  components/ui/badge.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

a11y: Fix touch target sizes to meet WCAG 2.5.5 (44px minimum) (#3)
  components/FilterPanel.tsx
  components/help-requests/RequestsListWithModal.tsx
  components/ui/button.tsx
  components/ui/input.tsx
  components/ui/select.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Add missing threading props to MessageBubble
  __tests__/messaging/MessageBubble.test.tsx
  components/messaging/MessageBubble.tsx
Owners: @care-collective/qa-team, @care-collective/frontend-team, @care-collective/core-team

fix: Add missing threading props to MessageBubble (#4)
  __tests__/messaging/MessageBubble.test.tsx
  components/messaging/MessageBubble.tsx
Owners: @care-collective/qa-team, @care-collective/frontend-team, @care-collective/core-team

fix: Improve navigation breadcrumbs and add user activity to dashboard
  app/dashboard/page.tsx
  app/requests/new/page.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team

feat: Restructure homepage with preview sections and improved navigation
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Resolve help request messaging validation and accessibility issues
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  components/help-requests/HelpRequestCardWithMessaging.tsx
  lib/messaging/types.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

refactor: Clean up UI components and improve filtering
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/context/ReadableModeContext.tsx
  app/providers.tsx
  components/DiagnosticPanel.tsx
  components/FilterPanel.tsx
  components/ReadableModeToggle.tsx
  components/layout/PlatformLayout.tsx
  tests/utils.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/qa-team

fix: Add 'use client' directive to DiagnosticPanel
  components/DiagnosticPanel.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
