Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

perf: make gradient animation slower with smoother color blending
  app/globals.css
  components/AnimatedGradientText.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: remove hard line in gradient by adding sage color at end
  components/AnimatedGradientText.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: update hero section text - replace C.A.R.E acronym with expanded text and update description 🤖 Generated by frontend-engineer (GLM-4.7)
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: increase hero section font sizes - align acronym and description with CARE Collective width 🤖 Generated by frontend-engineer (GLM-4.7)
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Add Vercel Speed Insights to Next.js
  app/layout.tsx
  package-lock.json
  package.json
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: adjust hero font sizes to match visual width of CARE Collective 🤖 Generated by frontend-engineer (GLM-4.7)
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: adjust hero logo size/opacity and reduce font sizes 🤖 Generated by frontend-engineer (GLM-4.7)
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: apply mix-blend-multiply to hero logo to simulate transparency and improve mobile responsiveness of description 🤖 Generated by frontend-engineer (GLM-4.7)
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: investigate middleware Edge Runtime development error 🔍
  .orchestrator/sessions/middleware-fix-20251227-120000/03-implementation.md
  .orchestrator/sessions/middleware-fix-20251227-120000/04-tests.md
  .orchestrator/sessions/middleware-fix-20251227-120000/context.md
  docs/development/MIDDLEWARE_FIX_INVESTIGATION_RESULTS.md
Owners: @care-collective/product-team

docs: add development workflow guide 📖
  PROJECT_STATUS.md
  docs/development/DEVELOPMENT_QUICK_START.md
Owners: @care-collective/product-team

fix: resolve TypeScript build errors and apply UI/UX fixes
  app/dashboard/page.tsx
  app/requests/[id]/RequestActions.tsx
  components/FilterPanel.tsx
  components/Hero.tsx
  components/help-requests/EditRequestForm.tsx
  components/profile/caregiving-situation-editor.tsx
  lib/database.types.ts
  lib/supabase/admin.ts
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/design-team

fix: replace corrupted HandHeart icon with Hand icon on dashboard 🤖 Generated by MiniMax M2.1
  app/dashboard/page.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team

fix: add missing space in hero text on mobile view 🤖 Generated by @build
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: update footer funding text to include Southern Gerontological Society and Department of Sociology, Anthropology, and Gerontology at Missouri State University 🤖 Generated by Build Agent (GLM-4.7)
  app/page.tsx
  components/layout/SiteFooter.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: standardize header/footer across public pages
  app/about/page.tsx
  app/access-denied/page.tsx
  app/contact/page.tsx
  app/help/page.tsx
  app/login/page.tsx
  app/privacy-policy/page.tsx
  app/resources/page.tsx
  app/signup/page.tsx
  app/terms/page.tsx
  app/waitlist/page.tsx
  components/layout/PublicPageLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team

feat: use homepage footer on all public pages
  components/layout/PublicPageFooter.tsx
  components/layout/PublicPageLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(ui): quick wins for public pages UI standardization
  .orchestrator/sessions/header-footer-standardization/02-design.md
  .orchestrator/sessions/header-footer-standardization/03-implementation.md
  .orchestrator/sessions/header-footer-standardization/04-tests.md
  .orchestrator/sessions/header-footer-standardization/05-review.md
  .orchestrator/sessions/header-footer-standardization/context.md
  .orchestrator/sessions/header-footer-standardization/orchestration-prompt.md
  .orchestrator/sessions/header-footer-standardization/session-summary.md
  .orchestrator/sessions/launch-prep-2026/LAUNCH_READINESS_REPORT.md
  .orchestrator/sessions/launch-prep-2026/context.md
  .orchestrator/sessions/launch-prep-analysis/01-launch-prep-plan.md
  .orchestrator/sessions/launch-prep-analysis/context.md
  .orchestrator/sessions/middleware-fix-20251227-120000/05-review.md
  .orchestrator/sessions/public-pages-ui-standardization/context.md
  .orchestrator/sessions/public-pages-ui-standardization/orchestration-prompt.md
  .prompts/header-footer-standardization.md
  .prompts/launch-prep-analysis.md
  .prompts/public-pages-ui-standardization-plan.md
  .prompts/public-pages-ui-ux-analysis.md
  app/help/page.tsx
  app/privacy-policy/page.tsx
  app/resources/page.tsx
  app/terms/page.tsx
  components/public/CTAButton.tsx
  components/public/ExternalLink.tsx
  docs/README.md
  docs/launch-2026/LAUNCH_PREPARATION_PLAN.md
  docs/reference/README.md
  docs/reference/api-admin.md
  docs/reference/api-auth.md
  docs/reference/api-beta-testing.md
  docs/reference/api-health-monitoring.md
  docs/reference/api-messaging.md
  docs/reference/api-notifications.md
  docs/reference/api-overview.md
  docs/reference/api-requests.md
  docs/reference/documentation-summary.md
  docs/reference/pages-reference.md
  public/sw.js
  scripts/launch/admin-account-setup.sql
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/database-team

feat(ui): create and apply page header and section header components
  app/about/page.tsx
  app/contact/page.tsx
  app/help/page.tsx
  app/privacy-policy/page.tsx
  app/resources/page.tsx
  app/terms/page.tsx
  components/public/PageHeader.tsx
  components/public/SectionHeader.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(ui): standardize card variants and grid layouts
  app/about/page.tsx
  app/resources/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(ui): add barrel export for public components
  components/public/index.ts
Owners: @care-collective/frontend-team, @care-collective/core-team

style(ui): update section headers to match homepage style
  .orchestrator/sessions/public-pages-ui-standardization/final-summary.md
  .orchestrator/sessions/public-pages-ui-standardization/phase1-3-summary.md
  app/about/page.tsx
  components/public/SectionHeader.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team

style(ui): update section headers to match homepage style
  app/resources/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: document header style matching progress
  .orchestrator/sessions/public-pages-ui-standardization/header-style-update-summary.md
Owners: @care-collective/product-team

style(ui): update navbar active state to be more prominent
  components/layout/PublicPageLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: document navbar active state update
  .orchestrator/sessions/public-pages-ui-standardization/navbar-active-state-summary.md
Owners: @care-collective/product-team

docs: document navbar revert analysis
  .orchestrator/sessions/public-pages-ui-standardization/navbar-revert-summary.md
Owners: @care-collective/product-team

fix: make Email Us button functional on help page 🤖 Generated by frontend-engineer (GLM-4.7)
  app/help/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: remove active state shadow effects from navbar to match homepage 🤖 Generated by frontend-engineer (GLM-4.7)
  components/layout/PublicPageLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: add subtle active state ring effect to match homepage navbar 🤖 Generated by frontend-engineer (GLM-4.7)
  components/layout/PublicPageLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: add subtle divider line above footer content 🤖 Generated by frontend-engineer (GLM-4.7)
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: implement client feedback changes for CARE Collective 🤖 Generated by orchestrator
  .prompts/implement-client-feedback-jan2026.md
  app/admin/applications/page.tsx
  app/dashboard/page.tsx
  app/globals.css
  app/page.tsx
  app/resources/page.tsx
  app/signup/page.tsx
  components/Hero.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/layout/PublicPageFooter.tsx
  components/layout/SiteFooter.tsx
  components/public/SectionHeader.tsx
  docs/implementation-plans/client-feedback-jan2026.md
  email-to-maureen.txt
  public/sw.js
  tailwind.config.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

docs: add client feedback and sprint implementation plans
  docs/client/CLIENT_FEEDBACK_2026-01-01.md
  docs/development/sprint-prompts/README.md
  docs/development/sprint-prompts/SPRINT_1_TYPOGRAPHY.md
  docs/development/sprint-prompts/SPRINT_2_LANDING_PAGE.md
  docs/development/sprint-prompts/SPRINT_3_PAGE_UPDATES.md
  docs/development/sprint-prompts/SPRINT_4_ADMIN_PANEL.md
Owners: @care-collective/product-team

feat(typography): increase font sizes and improve contrast for readability
  app/globals.css
  app/page.tsx
  app/styles/tokens.css
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(landing): update Who We Are section and remove duplicate CTA
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(pages): improve dashboard headings, forms, and content updates
  app/dashboard/page.tsx
  app/resources/page.tsx
  app/signup/page.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/public/SectionHeader.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team

feat(admin): display additional member info in pending applications
  app/admin/applications/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team

fix(typography): darken body text color and center resources description
  .gitignore
  app/globals.css
  app/resources/page.tsx
  docs/development/sprint-prompts/SPRINT_5_ADJUSTMENTS.md
  docs/reports/CLIENT_FEEDBACK_VERIFICATION_2026-01-06.md
  docs/reports/README.md
  public/sw.js
  tests/e2e/visual-verification.spec.ts
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/design-team, @care-collective/qa-team

fix(typography): enlarge Southwest Missouri text and improve body text contrast
  app/globals.css
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(typography): match Southwest Missouri size and increase body text
  app/globals.css
  app/styles/tokens.css
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(typography): increase hero description and card body text sizes
  app/page.tsx
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
