Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team

style: Use subtle sage border to divide sections
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Update individual pages per client feedback
  app/about/page.tsx
  app/help/page.tsx
  app/privacy-policy/page.tsx
  app/resources/page.tsx
  app/signup/page.tsx
  app/terms/page.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/design-team

feat: Add email notifications, remove crisis page, cleanup
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  app/crisis-resources/page.tsx
  lib/email-service.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

docs: Update project status and completion reports
  PROJECT_STATUS.md
  docs/client-alignment-2025/COMPLETION_REPORT.md
  docs/context-engineering/master-plan.md
Owners: @care-collective/product-team

Align site with client requirements: Update Hero text, Landing page footer, and About page background check info
  app/about/page.tsx
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Refactor landing page sections to use unified component
  .~lock.Send to Evan 1024.docx#
  Send to Evan 1024.docx
  app/page.tsx
  care-collective-preview/.next/server/app-paths-manifest.json
  care-collective-preview/.next/server/interception-route-rewrite-manifest.js
  care-collective-preview/.next/server/middleware-manifest.json
  care-collective-preview/.next/server/pages-manifest.json
  care-collective-preview/.next/server/server-reference-manifest.js
  care-collective-preview/.next/server/server-reference-manifest.json
  care-collective-preview/.next/server/static/webpack/23705644cd10af85.edge-runtime-webpack.hot-update.json
  care-collective-preview/.next/types/package.json
  commit_log.txt
  components/LandingSection.tsx
  diff_hero.txt
  git_status.txt
  logs/db-maintenance-20250909_121916.log
  logs/db-maintenance-20250909_122106.log
  package-lock.json
  public/sw.js
  push_log.txt
  requirements.xml
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

Enhance landing page UI with patterns, animations, and card polish
  app/globals.css
  app/page.tsx
  components/LandingSection.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

Remove patterns and beta footer, fix layout
  app/layout.tsx
  app/page.tsx
  components/LandingSection.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Use environment variables for email addresses in email service
  lib/email-service.ts
Owners: @care-collective/backend-team, @care-collective/core-team

feat: Add comprehensive email template testing endpoint
  app/api/admin/email-test/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

docs: Add comprehensive email template redesign planning prompt
  docs/email-template-redesign-prompt.md
Owners: @care-collective/product-team

feat: Redesign email templates with component-based architecture (Phase 1)
  app/api/admin/email-test/route.ts
  lib/email-service.ts
  lib/email/components.ts
  lib/email/templates.ts
  lib/email/utils.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Improve email button centering and update domain to swmocarecollective.com
  lib/email-service.ts
  lib/email/components.ts
Owners: @care-collective/backend-team, @care-collective/core-team

docs: Add Gemini prompt for email template design improvements
  docs/gemini-email-improvement-prompt.md
Owners: @care-collective/product-team

docs: Add comprehensive next session guide for email template implementation
  docs/NEXT_SESSION_EMAIL_TEMPLATES.md
Owners: @care-collective/product-team

feat: Enhance email templates with Gemini design improvements
  lib/email/components.ts
  lib/email/templates.ts
Owners: @care-collective/backend-team, @care-collective/core-team

feat: Migrate remaining 6 email templates to component-based design
  lib/email-service.ts
  lib/email/templates.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Add missing opening table tag to warningBox component
  lib/email/components.ts
Owners: @care-collective/backend-team, @care-collective/core-team

feat: Update design tokens - increase font sizes and add teal color
  app/styles/tokens.css
  tailwind.config.ts
Owners: @care-collective/frontend-team

feat: Add color-block variants to LandingSection component
  components/LandingSection.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Simplify Hero section - remove secondary CTA, update to teal
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Update navigation for section restructure
  app/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Restructure sections into What is CARE Collective 3-box layout
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Redesign About section with founder photo and asymmetrical layout
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Apply color-blocked section backgrounds
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Update footer with funding statement and Facebook link
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

chore: Update service worker cache version for Dec 2025 redesign
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/design-team

feat: redesign home page with new branding, sections, and components
  app/page.tsx
  app/styles/tokens.css
  components/Hero.tsx
  components/HomePageSections.tsx
  components/WhatsHappeningSection.tsx
  docs/client/documents/email-12172025.txt
  docs/client/documents/home-page-content.docx
  docs/development/home-page-redesign-dec2025/README.md
  docs/development/home-page-redesign-dec2025/client-feedback-summary.md
  docs/development/home-page-redesign-dec2025/color-palette-reference.md
  docs/development/home-page-redesign-dec2025/gemini-design-prompt.md
  docs/development/home-page-redesign-dec2025/implementation-plan.md
  docs/development/home-page-redesign-dec2025/section-layouts.md
  docs/development/home-page-redesign-dec2025/session-prompt.md
  public/sw.js
  tailwind.config.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/design-team

fix: revert layout and update content from client doc
  app/page.tsx
  app/styles/tokens.css
  components/Hero.tsx
  components/HomePageSections.tsx
  docs/development/home-page-redesign-dec2025/home-page-content.pdf
  home_page_content.txt
  public/sw.js
  tailwind.config.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: Implement homepage mockup redesign
  app/page.tsx
  components/FeatureCard.tsx
  components/Hero.tsx
  components/LandingSection.tsx
  components/WhatsHappeningSection.tsx
  homepage-mockup/mockup.html
  public/sw.js
  tailwind.config.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: Implement homepage client updates with 3-box layout
  app/page.tsx
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Address homepage code review issues from commit #5cb076
  app/page.tsx
  components/Hero.tsx
  public/maureen-portrait.jpg
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Adjust Dr. Templeman photo sizing and alignment
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Adjust photo framing to show full face
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Align homepage with client specifications
  app/page.tsx
  components/Hero.tsx
  components/LandingSection.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Consolidate navbar - replace 'How It Works' and 'Why Join?' with 'What is CARE?'
  app/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

redesign: About CARE Collective section with Kinder Ground-inspired layout
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Adjust About section - photo position, centered caption, button placement
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

redesign: Apply Kinder Ground-style typography and layout to all homepage sections
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add SVG wave section dividers for homepage background redesign
  .orchestrator/sessions/homepage-background-20251221-004603/01-research.md
  .orchestrator/sessions/homepage-background-20251221-004603/02-design.md
  .orchestrator/sessions/homepage-background-20251221-004603/03-implementation.md
  .orchestrator/sessions/homepage-background-20251221-004603/05-summary.md
  .orchestrator/sessions/homepage-background-20251221-004603/context.md
  .prompts/homepage-background/01-ui-architect.md
  .prompts/homepage-background/02-frontend-engineer.md
  .prompts/homepage-background/03-style-master.md
  .prompts/homepage-background/README.md
  app/page.tsx
  components/ui/SectionBackground.tsx
  components/ui/SectionDivider.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team
