Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team

fix(hero): increase mobile text sizes and remove desktop line break
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(hero): tighten acronym letter spacing on mobile for better fit
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(hero): significantly increase mobile text sizes
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(hero): increase CARE COLLECTIVE title and acronym sizes
  components/AnimatedGradientText.tsx
  components/Hero.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(typography): two-line founder caption on mobile and increase section text
  app/page.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: implement client feedback from January 2026 design review
  .gitignore
  app/admin/applications/page.tsx
  app/dashboard/page.tsx
  app/globals.css
  app/page.tsx
  app/resources/page.tsx
  app/signup/page.tsx
  app/styles/tokens.css
  components/AnimatedGradientText.tsx
  components/Hero.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/public/SectionHeader.tsx
  docs/client/CLIENT_FEEDBACK_2026-01-01.md
  docs/development/sprint-prompts/README.md
  docs/development/sprint-prompts/SPRINT_1_TYPOGRAPHY.md
  docs/development/sprint-prompts/SPRINT_2_LANDING_PAGE.md
  docs/development/sprint-prompts/SPRINT_3_PAGE_UPDATES.md
  docs/development/sprint-prompts/SPRINT_4_ADMIN_PANEL.md
  docs/development/sprint-prompts/SPRINT_5_ADJUSTMENTS.md
  docs/reports/CLIENT_FEEDBACK_VERIFICATION_2026-01-06.md
  docs/reports/README.md
  public/sw.js
  tests/e2e/visual-verification.spec.ts
Owners: @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/qa-team

fix: remove unused preload for logo.png to eliminate console warning
  app/layout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: resolve requests display and admin moderation timeout - Sprint 2
  app/admin/messaging/moderation/loading.tsx
  app/admin/messaging/moderation/page.tsx
  components/admin/ModerationQueue.tsx
  components/help-requests/RequestsListWithModal.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

fix: add 'Not provided' fallbacks for admin applications - Sprint 1
  app/admin/applications/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team

feat: add comprehensive E2E testing infrastructure and iteration plan
  docs/development/ITERATION_PLAN_2026-01-06.md
  docs/development/SPRINT_1_AGENT_PROMPT.md
  docs/reports/e2e-issues-2026-01-06.json
  docs/reports/e2e-testing-report-2026-01-06.md
  docs/testing/E2E_AGENT_PROMPT.md
  docs/testing/E2E_TESTING_PLAN.md
  playwright.config.ts
  scripts/e2e-test-cleanup.sql
  scripts/e2e-test-setup.sql
  tests/e2e/comprehensive-site-audit.spec.ts
Owners: @care-collective/product-team, @care-collective/core-team, @care-collective/database-team, @care-collective/qa-team

fix: improve form accessibility and touch targets - Sprint 3
  app/requests/new/page.tsx
  app/signup/page.tsx
  components/layout/PublicPageFooter.tsx
  components/profile/caregiving-situation-editor.tsx
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

feat: implement Welcome Bot onboarding for messaging - Sprint 4
  components/messaging/ConversationList.tsx
  components/messaging/ConversationPanel.tsx
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessagingDashboard.tsx
  components/messaging/WelcomeBanner.tsx
  lib/messaging/welcome-bot.ts
  package.json
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/design-team

docs: complete Sprint 5 - hero image research and iteration wrap-up
  docs/client/HERO_IMAGE_OPTIONS_2026-01.md
  docs/development/ITERATION_PLAN_2026-01-06.md
  docs/reports/e2e-testing-report-2026-01-06.md
Owners: @care-collective/product-team

docs: update hero image options with client reference analysis
  docs/client/HERO_IMAGE_OPTIONS_2026-01.md
Owners: @care-collective/product-team

docs: add comprehensive hero image search guides with direct links
  docs/client/HERO_IMAGE_SEARCH_GUIDE.md
  docs/client/Help with yard work.jpeg
  docs/client/QUICK_IMAGE_SEARCH.md
Owners: @care-collective/product-team, @care-collective/core-team

docs: update hero image search for 30-50 caregiver target audience
  docs/client/HERO_IMAGE_OPTIONS_2026-01.md
  docs/client/QUICK_IMAGE_SEARCH.md
Owners: @care-collective/product-team

docs: update iteration plan with hero image refinement notes
  docs/development/ITERATION_PLAN_2026-01-06.md
Owners: @care-collective/product-team

docs: add session summary for hero image refinement work
  docs/development/SESSION_2026-01-06_hero-image-refinement.md
Owners: @care-collective/product-team

fix: update contact email to swmocarecollective on waitlist page 🤖 Generated by Claude Code (claude-sonnet-4-20250514)
  app/waitlist/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: add hero image carousel with crossfade animation
  .gitignore
  components/Hero.tsx
  package-lock.json
  package.json
  public/hero-images/optimized/hero-1-1200w.webp
  public/hero-images/optimized/hero-1-400w.webp
  public/hero-images/optimized/hero-1-800w.webp
  public/hero-images/optimized/hero-2-1200w.webp
  public/hero-images/optimized/hero-2-400w.webp
  public/hero-images/optimized/hero-2-800w.webp
  public/hero-images/optimized/hero-3-1200w.webp
  public/hero-images/optimized/hero-3-400w.webp
  public/hero-images/optimized/hero-3-800w.webp
  public/hero-images/optimized/hero-4-1200w.webp
  public/hero-images/optimized/hero-4-400w.webp
  public/hero-images/optimized/hero-4-800w.webp
  public/hero-images/optimized/hero-5-1200w.webp
  public/hero-images/optimized/hero-5-400w.webp
  public/hero-images/optimized/hero-5-800w.webp
  scripts/optimize-hero-images.mjs
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/backend-team, @care-collective/database-team

fix: update hero-3 optimized images with correct source
  public/hero-images/optimized/hero-3-1200w.webp
  public/hero-images/optimized/hero-3-400w.webp
  public/hero-images/optimized/hero-3-800w.webp
Owners: @care-collective/frontend-team, @care-collective/design-team

docs: update commit attribution to claude-opus-4
  CLAUDE.md
Owners: @care-collective/product-team

docs: fix commit attribution to claude-opus-4-5
  CLAUDE.md
Owners: @care-collective/product-team

style: increase hero carousel image size for better visual impact
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: add coin-flip intro animation to hero carousel
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: improve coin flip animation
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: adjust coin flip animation timing and shadow
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: increase coin flip delay to 1000ms
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: update rate limiter to use Redis instead of Vercel KV
  lib/security/rate-limiter.ts
  package-lock.json
  package.json
  public/sw.js
Owners: @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

feat: add digital waiver and signature components
  app/(preview)/waiver-preview/page.tsx
  app/layout.tsx
  components/legal/TypedSignatureField.tsx
  components/legal/WaiverContent.tsx
  components/legal/WaiverDocument.tsx
  components/legal/index.ts
  docs/client/WAIVER_MOCKUP_2026-01-06.html
  docs/waiver/waiver-preview.pdf
  lib/fonts.ts
  lib/supabase/admin-edge.ts
  lib/supabase/middleware-edge.ts
  middleware.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team

feat: Sprint 1 visual polish - hero carousel, fonts, section headers
  app/about/page.tsx
  app/resources/page.tsx
  components/Hero.tsx
  components/LogoutButton.tsx
  components/public/SectionHeader.tsx
  public/hero-images/optimized/hero-4-1200w.webp
  public/hero-images/optimized/hero-4-400w.webp
  public/hero-images/optimized/hero-4-800w.webp
  public/hero-images/optimized/hero-6-1200w.webp
  public/hero-images/optimized/hero-6-400w.webp
  public/hero-images/optimized/hero-6-800w.webp
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: redesign section pages with unified card components
  app/about/page.tsx
  app/contact/page.tsx
  app/help/page.tsx
  app/resources/page.tsx
  components/public/ActionCard.tsx
  components/public/InfoCard.tsx
  components/public/ResourceCard.tsx
  public/sw.js
  tests/e2e/sprint1-section-pages.spec.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/qa-team

feat: add E2E test suite with selector fixes
  app/dashboard/page.tsx
  app/login/page.tsx
  docs/development/e2e-test-continuation.md
  tests/e2e/auth.spec.ts
  tests/e2e/dashboard.spec.ts
  tests/e2e/fixtures/auth.fixture.ts
  tests/e2e/help-requests.spec.ts
  tests/e2e/messaging.spec.ts
  tests/e2e/pages/BasePage.ts
  tests/e2e/pages/DashboardPage.ts
  tests/e2e/pages/MessagesPage.ts
  tests/e2e/pages/RequestsPage.ts
  tests/e2e/selectors/index.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/security-team, @care-collective/qa-team, @care-collective/core-team

feat: fix E2E test selectors and add messaging infrastructure
  components/messaging/ConversationList.tsx
  components/messaging/MessageInput.tsx
  components/ui/dialog.tsx
  docs/development/e2e-test-continuation.md
  tests/e2e/fixtures/auth.fixture.ts
  tests/e2e/fixtures/conversations.fixture.ts
  tests/e2e/help-requests.spec.ts
  tests/e2e/pages/RequestsPage.ts
  tests/e2e/selectors/index.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/product-team, @care-collective/qa-team

fix: add Redis connection timeout to prevent API route hangs
  lib/security/rate-limiter.ts
Owners: @care-collective/security-team, @care-collective/core-team

feat: add SEO infrastructure and Google Analytics
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: add password reset flow
  app/api/auth/forgot-password/route.ts
  app/auth/callback/route.ts
  app/forgot-password/page.tsx
  app/login/page.tsx
  app/reset-password/page.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/frontend-team

fix: resolve TypeScript errors in production code
  app/about/page.tsx
  app/api/messaging/accept-offer/route.ts
  app/api/messaging/reject-offer/route.ts
  app/resources/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

fix: resolve multiple TypeScript errors across codebase
  app/api/admin/moderation/[id]/process/route.ts
  app/api/admin/moderation/queue/route.ts
  app/api/beta/bug-report/route.ts
  app/dashboard/loading.tsx
  app/profile/loading.tsx
  app/requests/loading.tsx
  components/admin/cms/CalendarEventsManager.tsx
  components/admin/cms/EventCategoriesManager.tsx
  components/ui/skeleton.tsx
  hooks/useAuthNavigation.ts
  hooks/useNetworkStatus.ts
  lib/auth/session-monitor.ts
  scripts/check-profiles.ts
  scripts/create-test-users.ts
  scripts/finalize-test-users.ts
  scripts/get-service-key.ts
  scripts/list-users.ts
  scripts/update-test-users.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

fix: resolve TypeScript errors in utilities and components
  components/notifications/NotificationItem.tsx
  components/ui/form-field.tsx
  hooks/useSmoothScroll.ts
  lib/auth/session-sync.ts
  lib/config/error-tracking.ts
  lib/db/queries.ts
  lib/email/templates.ts
  lib/notifications/NotificationService.ts
  lib/privacy/user-controls.ts
  lib/security/contact-encryption.ts
  lib/security/privacy-event-tracker.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/backend-team, @care-collective/security-team
