Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team

🔧 Fix browse help requests page - resolve database and RLS issues
  docs/testing/e2e-strategy.md
  docs/testing/playwright-mcp/README.md
  docs/testing/playwright-mcp/accessibility/wcag-compliance.md
  docs/testing/playwright-mcp/examples/basic-user-flow.md
  docs/testing/playwright-mcp/integration-guide.md
  docs/testing/playwright-mcp/mobile-testing/device-simulation.md
  docs/testing/playwright-mcp/privacy-security/contact-exchange-testing.md
  docs/testing/playwright-mcp/test-scenarios/help-request-workflows.md
  docs/testing/playwright-mcp/test-scenarios/real-time-messaging.md
  supabase/migrations/20250115_contact_exchange.sql
  supabase/migrations/20250115_fix_demo_summary_security.sql
  supabase/migrations/20250116_fix_demo_summary_security.sql
  supabase/migrations/20250906_production_schema_alignment.sql
  supabase/migrations/20250907_revert_rls_for_demo.sql
  supabase/migrations/20250910000000_optimize_filtering_and_search.sql
  supabase/migrations/20250922000001_user_restrictions_system.sql
  supabase/migrations/20250923000001_admin_panel_completion.sql
  supabase/migrations/20250926000000_fix_browse_requests_rls.sql
  supabase/seed.sql
Owners: @care-collective/product-team, @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

🔐 Fix browse requests authentication - proper verification status check
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🚀 Phase 3.1: MCP-Enhanced Performance & Accessibility Optimization
  app/layout.tsx
  app/page.tsx
  app/requests/page.tsx
  components/admin/AdminDashboardDynamic.tsx
  components/messaging/MessagingDynamic.tsx
  docs/development/ACCESSIBILITY_FIXES_PHASE_3_1.md
  docs/development/DATABASE_PERFORMANCE_OPTIMIZATIONS.md
  docs/development/PHASE_3_1_PERFORMANCE_BASELINE.md
  lib/queries/help-requests-optimized.ts
  next.config.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team

♿ Fix remaining button accessibility - Complete WCAG 2.1 AA compliance
  components/ui/button.tsx
Owners: @care-collective/design-team, @care-collective/frontend-team

🚀 Phase 3.2: Production readiness - Database indexes & Vercel KV rate limiting
  lib/security/rate-limiter.ts
  package-lock.json
  package.json
  supabase/migrations/20250930044617_add_performance_indexes.sql
Owners: @care-collective/security-team, @care-collective/core-team, @care-collective/database-team, @care-collective/backend-team

🔧 Fix browse requests authentication flow
  app/requests/page.tsx
  lib/supabase/middleware-edge.ts
  supabase/migrations/20250930133224_fix_help_requests_rls_policies.sql
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/database-team

📝 Add comprehensive authentication testing session prompt
  docs/development/COMPREHENSIVE_AUTH_TESTING_SESSION.md
Owners: @care-collective/product-team

📋 Complete comprehensive authentication testing documentation
  docs/development/COMPREHENSIVE_AUTH_TESTING_SESSION.md
Owners: @care-collective/product-team

🔒 Complete authentication testing - NO-GO for beta launch
  docs/development/AUTH_TESTING_ANALYSIS_REPORT.md
  docs/testing-archives/2025-10-01-auth-testing/screenshots/admin/01-admin-panel-success.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/approved/01-dashboard-success.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/approved/02-requests-500-error.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/approved/03-messages-success.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/pending/01-redirect-loop-error.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/rejected/01-rejected-user-can-login-CRITICAL-BUG.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/unauthenticated/01-homepage.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/unauthenticated/02-dashboard-redirect-to-login.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/unauthenticated/03-requests-redirect-to-login.png
  docs/testing-archives/2025-10-01-auth-testing/screenshots/unauthenticated/04-admin-redirect-to-login.png
Owners: @care-collective/product-team, @care-collective/core-team

📋 Create comprehensive authentication fixes plan
  docs/development/NEXT_SESSION_AUTH_FIXES.md
Owners: @care-collective/product-team

🔒 SECURITY: Implement critical authentication fixes
  PROJECT_STATUS.md
  app/access-denied/page.tsx
  app/auth/callback/route.ts
  app/dashboard/page.tsx
  app/requests/page.tsx
  docs/development/AUTH_TESTING_FINAL_REPORT.md
  lib/supabase/middleware-edge.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/backend-team

🔒 FIX: Critical authentication bug - rejected user blocking
  app/auth/callback/route.ts
  app/dashboard/page.tsx
  app/requests/page.tsx
  lib/supabase/middleware-edge.ts
Owners: @care-collective/security-team, @care-collective/backend-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team

🔒 FIX: Complete authentication bug resolution - cache + force logout
  app/dashboard/page.tsx
  app/requests/page.tsx
  lib/supabase/middleware-edge.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/core-team

🔒 CRITICAL FIX: Secure-by-default authentication - block on profile query failure
  app/auth/callback/route.ts
  lib/supabase/middleware-edge.ts
Owners: @care-collective/security-team, @care-collective/backend-team, @care-collective/core-team

📋 DOCS: Comprehensive auth bug session summary + next session guide
  docs/development/AUTH_BUG_SESSION_SUMMARY_20251002.md
  docs/development/NEXT_SESSION_AUTH_BUG_FINAL_FIX.md
Owners: @care-collective/product-team

🔒 FIX: Implement service role pattern for auth verification
  app/auth/callback/route.ts
  lib/supabase/admin.ts
  lib/supabase/middleware-edge.ts
Owners: @care-collective/security-team, @care-collective/backend-team, @care-collective/core-team

🔒 CRITICAL FIX: Secure-by-default middleware + enhanced logging
  lib/supabase/admin.ts
  middleware.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team

🔒 FIX: Critical authentication bug - use service role for profile queries
  app/api/test-service-role/route.ts
  app/dashboard/page.tsx
  app/requests/page.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team

🔧 DEBUG: Add auth diagnostic endpoint to test RLS fix
  app/api/test-auth/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🔄 Force redeployment after RLS fix
  REDEPLOY_TRIGGER.txt
  docs/development/RLS_BUG_FIX_COMPLETE.md
Owners: @care-collective/core-team, @care-collective/product-team

📋 SESSION HANDOFF: Deep debugging plan for auth bug
  NEXT_SESSION_DEEP_DEBUGGING.md
  docs/development/CRITICAL_AUTH_BUG_STATUS.md
Owners: @care-collective/product-team

🔍 DEBUG: Add comprehensive logging to trace auth bug
  app/dashboard/page.tsx
  lib/supabase/admin.ts
  lib/supabase/middleware-edge.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/core-team

🔍 DEBUG: Add middleware entry/exit logs to verify execution
  middleware.ts
Owners: @care-collective/security-team, @care-collective/backend-team

📋 SESSION HANDOFF: Deep debugging plan for auth bug
  NEXT_SESSION_DIAGNOSTIC_PANEL.md
  docs/development/AUTH_BUG_DEBUGGING_SESSION_SUMMARY.md
Owners: @care-collective/product-team

📋 Add next session prompt for diagnostic panel
  NEXT_SESSION_PROMPT.md
Owners: @care-collective/product-team

🔍 DEBUG: Add diagnostic panel to dashboard
  app/dashboard/page.tsx
  components/DiagnosticPanel.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team

🔒 CRITICAL FIX: Resolve RLS authentication bug
  PROJECT_STATUS.md
  supabase/migrations/20251012000000_fix_profiles_rls_critical.sql
Owners: @care-collective/product-team, @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

🔒 CRITICAL SECURITY FIX: Resolve RLS authentication bug (Production Tested)
  .playwright-mcp/test-results/RLS_BUG_FIXES_APPLIED.md
  .playwright-mcp/test-results/RLS_BUG_TEST_RESULTS.md
  .playwright-mcp/test-results/screenshots/admin/01-admin-panel-success.png
  .playwright-mcp/test-results/screenshots/approved/01-dashboard-success.png
  .playwright-mcp/test-results/screenshots/approved/02-requests-500-error.png
  .playwright-mcp/test-results/screenshots/approved/03-messages-success.png
  .playwright-mcp/test-results/screenshots/pending/01-redirect-loop-error.png
  .playwright-mcp/test-results/screenshots/rejected/01-rejected-user-can-login-CRITICAL-BUG.png
  .playwright-mcp/test-results/screenshots/unauthenticated/01-homepage.png
  .playwright-mcp/test-results/screenshots/unauthenticated/02-dashboard-redirect-to-login.png
  .playwright-mcp/test-results/screenshots/unauthenticated/03-requests-redirect-to-login.png
  .playwright-mcp/test-results/screenshots/unauthenticated/04-admin-redirect-to-login.png
  app/dashboard/page.tsx
  docs/development/RLS_FIX_DEPLOYMENT_GUIDE.md
Owners: @care-collective/product-team, @care-collective/core-team, @care-collective/frontend-team

🔒 FIX: Resolve infinite recursion RLS bug and add login verification
  app/login/page.tsx
  supabase/migrations/20251013200635_fix_infinite_recursion_rls.sql
Owners: @care-collective/security-team, @care-collective/frontend-team, @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

🔒 SECURITY: Implement comprehensive security improvements
  __tests__/database/rls-security.test.ts
  __tests__/security/authentication-flow.test.ts
  app/api/auth/login/route.ts
  app/login/page.tsx
  docs/security/RLS_PATTERNS_AND_BEST_PRACTICES.md
  docs/security/SECURITY_IMPROVEMENTS_SUMMARY.md
  lib/database.types.ts
  lib/supabase/admin.ts
  lib/supabase/middleware-edge.ts
  scripts/database/rls-performance-monitoring.sql
  supabase/migrations/20251014003658_session_invalidation_on_status_change.sql
Owners: @care-collective/qa-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/database-team

🐛 FIX: Resolve Browse Requests 500 error (P0 Critical Bug)
  app/requests/page.tsx
  lib/queries/help-requests-optimized.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team

🔒 FIX: Resolve Browse Requests RLS policy issue (Final Fix)
  app/requests/page.tsx
  lib/queries/help-requests-optimized.ts
  supabase/migrations/20251014120000_fix_profiles_rls_for_community_viewing.sql
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/database-team

📝 DOCS: Add Session 2 summary and Session 3 debugging guide
  docs/testing/SESSION_2_FINAL_STATUS.md
  docs/testing/SESSION_2_SUMMARY.md
  docs/testing/SESSION_3_PROMPT.md
Owners: @care-collective/product-team

🔍 DEBUG: Add diagnostic endpoint and enhanced logging for Browse Requests 500 error
  app/api/test-browse/route.ts
  app/requests/page.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team

✅ FIX: Resolve Browse Requests 500 error by using separate queries
  lib/queries/help-requests-optimized.ts
Owners: @care-collective/backend-team, @care-collective/core-team

🔒 FIX: Prevent messaging query failures from crashing Browse Requests page
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🔒 CRITICAL FIX: Wrap messaging data call in try-catch to prevent page crashes
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🚑 HOTFIX: Temporarily disable messaging data to unblock Browse Requests
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🐛 FIX: Remove incorrect 'typeof' causing TypeScript compilation error
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

🔄 FORCE REBUILD: Clear Vercel cache - Session 5 verification
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team
