Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

fix: Remove non-existent error property from useAuthNavigation destructure
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Re-export LoadingSkeleton from LoadingSkeleton.tsx
  components/LoadingSkeleton.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Convert named exports to default exports for React.lazy dynamic imports
  components/admin/AdminDashboardDynamic.tsx
  components/messaging/MessagingDynamic.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add lucide-react types, privacy events, separator component, AdminPrivacyDashboard fix
  components/admin/AdminDashboardDynamic.tsx
  components/ui/separator.tsx
  lib/security/privacy-event-tracker.ts
  types/lucide-react.d.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/security-team

fix: Resolve production build failures and 100+ TypeScript errors
  components/admin/AdminDashboardDynamic.tsx
  components/admin/PrivacyDashboard.tsx
  components/admin/UserActivityTimeline.tsx
  components/admin/UserDetailModal.tsx
  components/messaging/MessagingDynamic.tsx
  next.config.js
  public/sw.js
  tsconfig.json
  types/lucide-react.d.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Beta launch prep - Enable messaging V2, fix critical types, create test scripts
  .playwright-mcp/production-home-page.png
  .playwright-mcp/production-login-page.png
  .playwright-mcp/production-messages-page.png
  .playwright-mcp/production-messaging-conversation.png
  .playwright-mcp/production-resources-page.png
  docs/development/session-5-production-deployment.md
  lib/messaging/types.ts
  lib/validations.ts
  package-lock.json
  package.json
  public/sw.js
  scripts/create-beta-users.js
  scripts/database/reset-for-beta.sql
Owners: @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

docs: Add beta testing credentials and launch summary
  docs/beta-testing/BETA_CREDENTIALS.md
  docs/beta-testing/BETA_LAUNCH_SUMMARY.md
  scripts/create-prod-admins.js
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team

docs: Document critical login bug fix (env var mismatch)
  docs/beta-testing/CRITICAL_BUG_FIX.md
Owners: @care-collective/product-team

docs: Create comprehensive next session prompt for E2E testing
  docs/beta-testing/NEXT_SESSION_PROMPT.md
Owners: @care-collective/product-team

fix: Complete V2 messaging migration and WCAG color contrast fixes
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  app/globals.css
  app/styles/tokens.css
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

fix: Remove V1 code from messages page, make V2 default
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Add comprehensive beta launch status report
  docs/beta-testing/BETA_LAUNCH_STATUS.md
Owners: @care-collective/product-team

feat: Implement help request acceptance flow with pending offers
  app/api/messaging/accept-offer/route.ts
  app/api/messaging/reject-offer/route.ts
  app/messages/page.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/messaging/MessagingDashboard.tsx
  components/messaging/PendingOfferCard.tsx
  components/messaging/PendingOffersSection.tsx
  public/sw.js
  supabase/migrations/20251101000003_add_conversation_acceptance_flow.sql
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

fix: Remove server-side import from MessagingDashboard client component
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Split service-v2 into server/client files to fix build error
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  app/messages/page.tsx
  lib/messaging/service-v2-server.ts
  lib/messaging/service-v2.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

fix: Show correct UI for helpers vs requesters in pending offers
  components/messaging/MessagingDashboard.tsx
  components/messaging/PendingOfferCard.tsx
  components/messaging/PendingOffersSection.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Update CLAUDE.md to prevent double deployments
  CLAUDE.md
Owners: @care-collective/product-team

fix: Load only accepted conversations in Active tab
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Update MessagingDashboard to use V2 tables for active conversations
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Update MessagingDashboard queries for V2 architecture (no conversation_participants)
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Fetch profiles separately for V2 (conversations_v2 FKs point to auth.users, not profiles)
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Remove non-existent fields from messages_v2 insert and queries
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add comprehensive error handling to prevent infinite spinner in MessagingDashboard
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Phase 1 mobile messaging UI improvements
  components/messaging/ConversationList.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/MessageInput.tsx
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Add Phase 2 mobile UX patterns implementation guide
  docs/development/PHASE_2_MOBILE_UX_PATTERNS.md
Owners: @care-collective/product-team

feat: Phase 2.1 - Pull-to-refresh for mobile messaging
  components/messaging/MessagingDashboard.tsx
  package-lock.json
  package.json
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Replace react-pull-to-refresh with react-simple-pull-to-refresh
  components/messaging/MessagingDashboard.tsx
  package-lock.json
  package.json
Owners: @care-collective/frontend-team, @care-collective/core-team

revert: Remove pull-to-refresh implementation due to Next.js 14 incompatibility
  components/messaging/MessagingDashboard.tsx
  package-lock.json
  package.json
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Document pull-to-refresh library incompatibility with Next.js 14
  docs/development/PHASE_2_MOBILE_UX_PATTERNS.md
Owners: @care-collective/product-team

fix: Remove newline characters from Supabase environment variables
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/design-team

fix: Enable Realtime for messages_v2 and conversations_v2 tables
  supabase/migrations/20251101181803_enable_realtime_for_v2_tables.sql
Owners: @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

fix: Strip newlines from Supabase environment variables
  lib/supabase/client.ts
  lib/supabase/server.ts
Owners: @care-collective/backend-team, @care-collective/core-team

docs: Add Phase 2.2 messaging UI improvements plan
  docs/context-engineering/phase-plans/phase-2.2-messaging-ui-improvements.md
Owners: @care-collective/product-team

refactor: Phase 2.2 Part 1 - Refactor MessagingDashboard architecture
  components/messaging/ConversationHeader.tsx
  components/messaging/ConversationPanel.tsx
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessageThreadView.tsx
  components/messaging/MessagingContext.tsx
  components/messaging/MessagingDashboard.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: Phase 2.2 Part 2 - Integrate VirtualizedMessageList for performance
  components/messaging/MessageThreadView.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Resolve message overflow in VirtualizedMessageList container
  components/messaging/MessageThreadView.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Isolate scroll to messages area with fixed header and input
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessageThreadView.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

docs: Add next session prompt for messaging UI fixes with Playwright
  docs/context-engineering/next-session-messaging-ui-fixes.md
Owners: @care-collective/product-team

fix: Phase 2.2 Part 3 - Complete messaging UI scroll isolation and mobile fixes
  app/globals.css
  app/layout.tsx
  components/messaging/ConversationHeader.tsx
  components/messaging/MessageInput.tsx
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessageThreadView.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Resolve mobile autoscroll bug, remove message actions, fix touch targets
  components/messaging/ConversationHeader.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/VirtualizedMessageList.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
