Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

fix: add admin verification check and improve CMS validation (#36)
  app/admin/layout.tsx
  app/admin/page.tsx
  app/api/admin/bulk-operations/route.ts
  app/waitlist/page.tsx
  lib/validations/cms.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

feat: add admin variant to MobileNav for mobile admin navigation
  app/admin/layout.tsx
  components/MobileNav.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

feat: add admin variant to MobileNav for mobile admin navigation (#39)
  app/admin/layout.tsx
  components/MobileNav.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

fix: resolve signup flow 406 error with maybeSingle() profile queries
  lib/supabase/middleware.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix(buttons): Apply Overlock font to all buttons including logout button
  app/globals.css
  components/ui/button.tsx
Owners: @care-collective/frontend-team, @care-collective/design-team

fix: align signup flows with consistent digital waiver signatures
  app/api/auth/save-waiver/route.ts
  app/signup/page.tsx
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/design-team

fix: use admin client for approval/rejection email notifications
  app/api/notify/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix(security): upgrade next and validator to patch vulnerabilities
  package-lock.json
  package.json
Owners: @care-collective/core-team

feat(signup): make caregiving situation required and update placeholder
  app/api/auth/complete-profile/route.ts
  app/complete-profile/page.tsx
  app/signup/page.tsx
  lib/validations.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/security-team

fix(messaging): resolve 3 critical bugs before launch
  app/globals.css
  app/messages/page.tsx
  components/messaging/MessagingContext.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): resolve send button viewport bug at 390px
  components/messaging/ConversationHeader.tsx
  components/messaging/MessageInput.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(messaging): implement message grouping for cleaner UI
  components/messaging/MessageBubble.tsx
  components/messaging/VirtualizedMessageList.tsx
  lib/messaging/message-grouping.test.ts
  lib/messaging/message-grouping.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/qa-team, @care-collective/backend-team

fix(messaging): resolve JSX syntax error in VirtualizedMessageList
  components/messaging/VirtualizedMessageList.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): resolve webpack module loading error in VirtualizedMessageList
  components/messaging/MessagingDynamic.tsx
  components/messaging/VirtualizedMessageList.tsx
  docs/development/bug-fix-webpack-module-loading-2026-01-13.md
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team

chore: update service worker cache version for deployment
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/design-team

feat(messaging): complete UI/UX redesign phases 3 & 4
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
  lib/utils/relative-time.test.ts
  lib/utils/relative-time.ts
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/qa-team, @care-collective/backend-team, @care-collective/design-team

feat(messaging): UI polish with organic warmth aesthetic
  components/messaging/ConversationHeader.tsx
  components/messaging/ConversationList.tsx
  components/messaging/ConversationPanel.tsx
  components/messaging/MessageInput.tsx
  components/messaging/MessagingDashboard.tsx
  tests/e2e/pages/MessagesPage.ts
  tests/e2e/selectors/index.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/qa-team

feat(messaging): UI polish with organic warmth aesthetic (#42)
  components/messaging/ConversationHeader.tsx
  components/messaging/ConversationList.tsx
  components/messaging/ConversationPanel.tsx
  components/messaging/MessageInput.tsx
  components/messaging/MessagingDashboard.tsx
  tests/e2e/pages/MessagesPage.ts
  tests/e2e/selectors/index.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/qa-team

feat(messaging): layout redesign with viewport fix and dropdown menu
  components/messaging/ConversationHeader.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat(messaging): layout redesign with viewport fix and dropdown menu (#43)
  components/messaging/ConversationHeader.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): correct sender message alignment and add UI accent lines
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): correct sender message alignment and add UI accent lines (#44)
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): flip bubble tails to point toward avatar
  components/messaging/MessageBubble.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): improve mobile layout with condensed headers and keyboard handling
  components/layout/PlatformLayout.tsx
  components/messaging/ConversationHeader.tsx
  components/messaging/ConversationPanel.tsx
  components/messaging/MessageInput.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(messaging): resolve mobile UI bugs with headers, text wrapping, and scrollbars
  app/globals.css
  components/layout/PlatformLayout.tsx
  components/messaging/ConversationList.tsx
  components/messaging/MessageBubble.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(messaging): resolve mobile UI bugs with headers, text wrapping, and scrollbars (#45)
  app/globals.css
  components/layout/PlatformLayout.tsx
  components/messaging/ConversationList.tsx
  components/messaging/MessageBubble.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(messaging): resolve text overflow and mobile keyboard stability issues
  app/globals.css
  components/layout/PlatformLayout.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(messaging): resolve text overflow and mobile keyboard stability issues (#46)
  app/globals.css
  components/layout/PlatformLayout.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/MessagingDashboard.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix(messaging): remove redundant mobile UI elements for more message space
  components/messaging/MessageInput.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(messaging): remove redundant mobile UI elements for more message space (#47)
  components/messaging/MessageInput.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(ui): center pending tab icon and prevent Browse Requests button wrap
  components/layout/PlatformLayout.tsx
  components/messaging/PendingOffersSection.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(ui): center pending tab icon and prevent Browse Requests button wrap (#48)
  components/layout/PlatformLayout.tsx
  components/messaging/PendingOffersSection.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
