Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

Refine hero section animations to be more subtle and friendly
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Enhance homepage with improved navigation, accessibility and polish
  app/globals.css
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

🚀 Complete Care Collective production implementation
  FINAL_IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_PROMPT.md
  PLATFORM_ANALYSIS_REPORT.md
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  app/api/admin/applications/route.ts
  app/api/admin/stats/route.ts
  app/api/admin/users/route.ts
  app/api/email/test/route.ts
  app/api/notify/route.ts
  lib/database.types.ts
  lib/email-service.ts
  lib/security/csrf-protection.ts
  lib/supabase/middleware-edge.ts
  lib/validations/index.ts
  package-lock.json
  package.json
  scripts/apply-rls-fix.js
  scripts/fix-rls-help-requests.sql
  supabase/migrations/20250906_production_schema_alignment.sql
  supabase/migrations/20250906_revert_rls_for_demo.sql
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/database-team

🔧 Improve sign-up process development experience
  lib/supabase/client.ts
  lib/supabase/middleware-edge.ts
  lib/supabase/server.ts
  middleware.ts
  test-resend.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/qa-team

🎨 Clean up navbar UI/UX across all viewports
  app/dashboard/page.tsx
  app/globals.css
  app/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team

🔧 Add missing useAuthNavigation hook
  lib/hooks/useAuthNavigation.ts
Owners: @care-collective/backend-team, @care-collective/core-team

Enhance admin panel with improved visibility and full user management functionality
  CLAUDE.md
  app/admin/help-requests/page.tsx
  app/admin/users/page.tsx
  app/api/admin/applications/route.ts
  app/api/admin/users/[userId]/actions/route.ts
  app/api/admin/users/[userId]/details/route.ts
  app/api/admin/users/route.ts
  components/StatusBadge.tsx
  components/admin/UserActionDropdown.tsx
  components/admin/UserActivityTimeline.tsx
  components/admin/UserDetailModal.tsx
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team

Fix syntax errors in messaging components
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Simplify messaging components for build compatibility
  components/admin/ModerationQueue.tsx
  components/messaging/MessagingDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Fix dynamic rendering and server-side issues
  app/admin/messaging/moderation/page.tsx
  app/messages/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

Add messaging access to platform dashboard
  app/dashboard/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team

feat: integrate messaging platform with main platform navigation
  app/dashboard/page.tsx
  app/messages/page.tsx
  app/requests/[id]/page.tsx
  app/requests/page.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/layout/PlatformLayout.tsx
  components/messaging/MessagingDashboard.tsx
  components/messaging/MessagingStatusIndicator.tsx
  lib/hooks/useMessagingIntegration.ts
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

fix: resolve build errors in messaging components
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/messaging/ConversationList.tsx
  components/messaging/MessageThread.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Fix mobile navigation dropdown responsiveness issue
  app/globals.css
  app/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Fix authentication system: Replace placeholder URLs with actual Vercel domain
  .claude/settings.local.json
  README-Wix-Implementation.md
  care-collective-scripts.js
  care-collective-styles.css
  client-update-email.md
  test-authentication-links.html
  wix-README.md
  wix-content-integration-guide.md
  wix-homepage-structure.html
  wix-homepage-wireframe.md
  wix-setup-instructions.md
Owners: @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/qa-team

Fix navbar transparency and standardize navigation across all pages
  app/requests/new/page.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/core-team

Fix hamburger icon visibility on dashboard pages
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Fix messaging system activation and database migration syntax
  supabase/migrations/20250107_comprehensive_messaging_system.sql
Owners: @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

Fix login system hanging issue
  app/login/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

Fix mobile navigation loading and hamburger icon visibility issues
  components/MobileNav.tsx
  lib/hooks/useAuthNavigation.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

Fix help request loading error with comprehensive error handling
  app/requests/[id]/not-found.tsx
  app/requests/[id]/page.tsx
  app/requests/error.tsx
  scripts/test-error-handling.js
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team

Fix infrastructure issues causing help request errors
  app/help/page.tsx
  app/requests/[id]/error-fallback.tsx
  app/requests/[id]/page.tsx
  app/resources/page.tsx
  lib/supabase/server.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team

BREAKTHROUGH: Resolve Supabase authentication cookie parsing errors
  lib/supabase/middleware-edge.ts
  lib/supabase/server.ts
  package-lock.json
  package.json
Owners: @care-collective/backend-team, @care-collective/core-team

Fix "Something went wrong" error screen by disabling client-side auto-refresh tokens
  lib/supabase/client.ts
Owners: @care-collective/backend-team, @care-collective/core-team

Fix build errors by removing missing messaging component imports
  app/messages/page.tsx
  app/requests/[id]/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team

🎉 BREAKTHROUGH: Complete Care Collective platform recovery
  components/messaging/.exclude
  components/messaging/ConversationList.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/MessageInput.tsx
  components/messaging/MessagingDashboard.tsx
  docs/client/CLIENT_FEEDBACK_RESPONSE.md
  docs/client/CLIENT_PREVIEW_READY.md
  docs/client/CLIENT_STATUS_SUMMARY.md
  docs/client/DEMO_CHECKLIST.md
  docs/client/DEMO_DATA_GUIDE.md
  docs/client/DEMO_SCRIPT.md
  docs/client/SUGGESTED_EMAIL_REPLY.md
  docs/client/client-update-email.md
  docs/client/email-client.md
  docs/development/DEVELOPMENT_PLAN.md
  docs/development/IMPLEMENTATION_PROMPT.md
  docs/development/IMPLEMENTATION_RESULTS.md
  docs/development/IMPLEMENTATION_ROADMAP.md
  docs/development/IMPLEMENTATION_SUMMARY.md
  docs/development/TESTING_IMPLEMENTATION_COMPLETE.md
  docs/development/TESTING_ISSUES_AND_FIXES.md
  docs/development/TESTING_PLAN.md
  tests/accessibility/wcag-compliance.test.tsx
  tests/features/contact-exchange.test.tsx
  tests/fixtures/helpRequests.ts
  tests/ui/responsive-design.test.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/qa-team

Update homepage logo to use new textless design
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Fix logo path to use correct public directory structure
  app/page.tsx
  components/Hero.tsx
  public/logo-textless.png
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

✅ Complete Phase 1 component recovery: Create MessagingStatusIndicator and fix test fixtures
  NEXT_STEPS_AND_GOALS.md
  __tests__/api/messaging/messages.test.ts
  __tests__/messaging/ConversationList.test.tsx
  components/messaging/MessagingStatusIndicator.tsx
Owners: @care-collective/product-team, @care-collective/qa-team, @care-collective/frontend-team, @care-collective/core-team

📋 Update codebase analysis: Phase 1.1 completion tracking
  codebase-analysis-plan.md
Owners: @care-collective/product-team

📋 Create Phase 1.2 session prompt: Error Tracking & Monitoring
  docs/development/PHASE_1_2_SESSION_PROMPT.md
Owners: @care-collective/product-team

🎨 Fix status badge visibility issues
  PHASE_2_3_PREVIEW_GUIDE.md
  components/StatusBadge.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team

🔧 Add missing UI components for Vercel build
  components/ui/alert-dialog.tsx
  components/ui/checkbox.tsx
  components/ui/progress.tsx
  components/ui/scroll-area.tsx
  components/ui/slider.tsx
  components/ui/tabs.tsx
Owners: @care-collective/design-team, @care-collective/frontend-team

🔧 Update package dependencies for Vercel build
  package-lock.json
  package.json
Owners: @care-collective/core-team

🚨 Emergency Fix: Resolve Browse Help Requests Page Error
  PROJECT_STATUS.md
  app/admin/privacy/page.tsx
  app/api/messaging/conversations/route.ts
  app/messages/page.tsx
  app/privacy/page.tsx
  app/requests/page.tsx
  docs/development/PHASE_2_4_EMERGENCY_FIX_COMPLETION_SUMMARY.md
  scripts/test-browse-requests.js
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/database-team

🔧 Fix Vercel build: Add missing Privacy Dashboard components
  components/admin/PrivacyDashboard.tsx
  components/privacy/PrivacyDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

🔧 Fix Vercel build: Add missing privacy and security modules
  lib/privacy/user-controls.ts
  lib/security/contact-encryption.ts
  lib/security/privacy-event-tracker.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team

✨ Enhance homepage about section styling
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

🎨 Remove skip navigation links from homepage
  app/globals.css
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

🔐 Critical security fix: Remove hardcoded credentials and JWT tokens
  docs/database/BACKUP_RECOVERY_PROCEDURES.md
  docs/database/DATABASE_ANALYSIS_REPORT.md
  docs/database/DATABASE_MANAGEMENT.md
  docs/database/SUPABASE_CLI_GUIDE.md
  docs/database/SUPABASE_SETUP_GUIDE.md
  docs/deployment/DEPLOYMENT_CHECKLIST.md
  docs/deployment/DEPLOYMENT_INSTRUCTIONS.md
  docs/deployment/GITHUB_SETUP.md
  docs/deployment/VERCEL_DEPLOYMENT.md
  docs/development/CARE_COLLECTIVE_AUDIT_REPORT.md
  docs/development/SETUP_STATUS.md
  docs/development/TESTING_ISSUES_AND_FIXES.md
  docs/security/SECURITY.md
  scripts/create-admin-user.js
  scripts/development/create-maureen-admin.js
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
