Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

feat: Restructure homepage with preview sections and improved navigation (#5)
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Fix help request form validation error display
  app/requests/new/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

feat: Improve homepage navigation and visibility, add contact form
  app/contact/page.tsx
  app/page.tsx
  components/ContactForm.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Remove is_ongoing and subcategory fields that don't exist in database
  app/requests/new/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

fix: Add is_ongoing and subcategory columns to database and restore form functionality
  app/requests/new/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

feat: Improve navigation flow and section preview links
  app/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add Back to Home buttons at top of pages
  app/about/page.tsx
  app/contact/page.tsx
  app/resources/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Enhance design of about, contact, and resources pages
  app/about/page.tsx
  app/contact/page.tsx
  app/resources/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Make back button positioning consistent across all pages
  app/login/page.tsx
  app/signup/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

feat: Improve accessibility and navigation
  app/page.tsx
  app/privacy-policy/page.tsx
  app/terms/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Fetch all conversation participants for proper message display
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Resolve service worker cache issue causing stale content
  CLAUDE.md
  package.json
  public/sw.js
  scripts/update-sw-version.js
Owners: @care-collective/product-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/backend-team, @care-collective/database-team

fix: Add critical service worker fixes for PR #6
  components/ServiceWorkerRegistration.tsx
  docs/PR6_CRITICAL_FIXES_SUMMARY.md
  docs/PR6_IMPLEMENTATION_PLAN.md
  public/sw.js
  scripts/update-sw-version.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/design-team, @care-collective/backend-team, @care-collective/database-team

fix: Add critical service worker fixes for PR #6
  CLAUDE.md
  components/ServiceWorkerRegistration.tsx
  docs/PR6_CRITICAL_FIXES_SUMMARY.md
  docs/PR6_IMPLEMENTATION_PLAN.md
  package.json
  public/sw.js
  scripts/update-sw-version.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/backend-team, @care-collective/database-team

fix: Phase 1 messaging system critical bug fixes
  app/requests/[id]/RequestActions.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/messaging/MessagingDashboard.tsx
  hooks/useRealTimeMessages.ts
  lib/messaging/client.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/core-team

docs: Add comprehensive UI improvement recommendations document
  docs/UI_IMPROVEMENT_RECOMMENDATIONS.md
Owners: @care-collective/product-team

fix: Phase 1 messaging system critical bug fixes (#7)
  app/requests/[id]/RequestActions.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/messaging/MessagingDashboard.tsx
  hooks/useRealTimeMessages.ts
  lib/messaging/client.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/frontend-team, @care-collective/core-team

fix: Resolve 'Help request not found' error caused by RLS policy
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  supabase/migrations/20251024_auto_approve_preview_users.sql
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/database-team

fix: Resolve 'Help request not found' error caused by RLS policy (#8)
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  supabase/migrations/20251024_auto_approve_preview_users.sql
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/database-team

debug: Add profile diagnostic endpoint
  app/api/debug/my-profile/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Resolve ambiguous foreign key in help request query
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

feat: Add loading spinner to help requests page
  app/requests/loading.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

docs: Add comprehensive React Native feasibility analysis
  docs/react-native-executive-summary.md
  docs/react-native-feasibility-analysis.md
  docs/react-native-implementation-guide.md
Owners: @care-collective/product-team

fix: Resolve messaging system blocking help request conversations
  lib/messaging/client.ts
Owners: @care-collective/backend-team, @care-collective/core-team

debug: Fix 500 error in help request messaging with comprehensive logging
  DEBUG_MESSAGING_500_ERROR.md
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team

debug: Fix 500 error in help request messaging with comprehensive logging (#9)
  DEBUG_MESSAGING_500_ERROR.md
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/product-team, @care-collective/backend-team, @care-collective/core-team

fix: Add defensive checks for conversation response to prevent 500 errors
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Simplify conversation creation API to resolve 500 errors
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  components/help-requests/HelpRequestCardWithMessaging.tsx
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

chore: Update service worker cache version
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/design-team

debug: Add comprehensive logging to message sending flow
  lib/messaging/client.ts
Owners: @care-collective/backend-team, @care-collective/core-team

feat: Implement Messaging System V2 - Atomic conversation creation
  supabase/migrations/20251030_messaging_system_v2_atomic.sql
Owners: @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

feat: Implement Messaging System V2 - Atomic conversation creation (#10)
  supabase/migrations/20251030_messaging_system_v2_atomic.sql
Owners: @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

docs: outline subagent plan for messaging rebuild
  docs/messaging_refactor_subagent_plan.md
Owners: @care-collective/product-team

feat: Implement messaging V2 with atomic conversation creation
  .claude/settings.local.json
  MESSAGING_DEBUG_SESSION_OCT29_2025.md
  NEXT_SESSION_MESSAGING_FIX_OCT27.md
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
  backup-prod-20251030-164149.sql
  docs/messaging-rebuild/IMPLEMENTATION_COMPLETE.md
  docs/messaging-rebuild/PHASE2_IMPLEMENTATION_PLAN.md
  docs/messaging-rebuild/TEST_FINDINGS_V1_ANALYSIS.md
  docs/messaging-rebuild/phase1-forensic-discovery.md
  docs/messaging-rebuild/phase2-v2-review-and-migration-plan.md
  docs/messaging-rebuild/phase3-service-layer-design.md
  docs/messaging-rebuild/phase4-frontend-integration-plan.md
  docs/messaging-rebuild/phase5-migration-testing-rollout.md
  lib/database.types.ts
  lib/features.ts
  lib/messaging/service-v2.test.ts
  lib/messaging/service-v2.ts
  supabase/migrations/20251030_fix_v2_security_definer_auth.sql
Owners: @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team, @care-collective/qa-team

fix: Add messaging_preferences table migration
  supabase/migrations/20251031000000_add_messaging_preferences.sql
Owners: @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

Fix start conversation error logging
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

Fix start conversation error logging (#12)
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

docs: outline subagent plan for messaging rebuild (#11)
  docs/messaging_refactor_subagent_plan.md
Owners: @care-collective/product-team

Handle empty start conversation request bodies
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

Fallback to v1 when messaging v2 RPC fails
  app/api/messaging/help-requests/[id]/start-conversation/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
