Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

fix: resolve TypeScript errors in messaging system
  components/messaging/VirtualizedMessageList.tsx
  hooks/useMessagingIntegration.ts
  hooks/useMessagingQuery.ts
  lib/messaging/client.ts
  lib/messaging/encryption.ts
  lib/messaging/moderation.ts
  lib/messaging/service-v2.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

fix: address PR review feedback
  components/notifications/NotificationItem.tsx
  lib/config/error-tracking.ts
  lib/security/privacy-event-tracker.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team

fix: normalize Supabase profile joins in queries.ts
  lib/db/queries.ts
Owners: @care-collective/backend-team, @care-collective/core-team

docs: add Session B messaging refactor completion summary
  docs/development/2026-01-10-session-b-messaging-refactor-complete.md
Owners: @care-collective/product-team

docs: add Session A completion summary
  docs/development/2026-01-10-session-a-completion.md
Owners: @care-collective/product-team

fix: resolve TypeScript errors in utilities and components (#22)
  components/messaging/VirtualizedMessageList.tsx
  components/notifications/NotificationItem.tsx
  components/ui/form-field.tsx
  docs/development/2026-01-10-session-a-completion.md
  docs/development/2026-01-10-session-b-messaging-refactor-complete.md
  hooks/useMessagingIntegration.ts
  hooks/useMessagingQuery.ts
  hooks/useSmoothScroll.ts
  lib/auth/session-sync.ts
  lib/config/error-tracking.ts
  lib/db/queries.ts
  lib/email/templates.ts
  lib/messaging/client.ts
  lib/messaging/encryption.ts
  lib/messaging/moderation.ts
  lib/messaging/service-v2.ts
  lib/notifications/NotificationService.ts
  lib/privacy/user-controls.ts
  lib/security/contact-encryption.ts
  lib/security/privacy-event-tracker.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/security-team

fix: resolve TypeScript errors in admin and validation files
  lib/supabase/admin.ts
  lib/validations/cms.ts
  lib/validations/contact-exchange.ts
  lib/validations/email.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

fix: resolve TypeScript errors in admin and validation files (#23)
  lib/supabase/admin.ts
  lib/validations/cms.ts
  lib/validations/contact-exchange.ts
  lib/validations/email.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

fix: resolve SECURITY DEFINER view and RLS linter errors
  docs/security/SECURITY_VIEW_FIX.md
  supabase/migrations/20260110000000_fix_security_definer_views.sql
Owners: @care-collective/product-team, @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

fix: add search_path to SECURITY DEFINER functions and fix RLS policies
  docs/security/SECURITY_VIEW_FIX.md
  supabase/migrations/20260110000001_fix_function_search_paths.sql
Owners: @care-collective/product-team, @care-collective/database-team, @care-collective/backend-team, @care-collective/core-team

feat: add Google OAuth sign-in via Supabase
  app/api/auth/complete-profile/route.ts
  app/auth/callback/route.ts
  app/complete-profile/page.tsx
  app/login/page.tsx
  app/signup/page.tsx
  components/auth/google-sign-in-button.tsx
  lib/supabase/admin.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/frontend-team

feat: enable branded email templates and handle expired auth links
  app/forgot-password/page.tsx
  middleware.ts
  supabase/config.toml
  supabase/migrations/20251030000000_messaging_system_v2_atomic.sql
  supabase/migrations/20251030000001_fix_v2_security_definer_auth.sql
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/backend-team, @care-collective/database-team

feat: enable branded email templates and handle expired auth links (#27)
  app/forgot-password/page.tsx
  middleware.ts
  supabase/config.toml
  supabase/migrations/20251030000000_messaging_system_v2_atomic.sql
  supabase/migrations/20251030000001_fix_v2_security_definer_auth.sql
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/security-team, @care-collective/backend-team, @care-collective/database-team

fix: improve password reset redirect detection
  app/api/auth/forgot-password/route.ts
  app/auth/callback/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/security-team

fix: wrap useSearchParams in Suspense boundary
  app/forgot-password/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: transform pending offers data to match expected component format
  components/messaging/MessagingContext.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Sprint B - Database & Core Testing improvements
  app/api/requests/[id]/edit/route.ts
  lib/database.types.ts
  tests/mocks/supabase.ts
  tests/setup.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/qa-team

docs: update Sprint B prompt with notifications task and completion notes
  docs/prompts/sprint-b-start.md
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team

docs: update Sprint B prompt with notifications task (#29)
  app/api/requests/[id]/edit/route.ts
  docs/prompts/sprint-b-start.md
  lib/database.types.ts
  public/sw.js
  tests/mocks/supabase.ts
  tests/setup.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/qa-team

fix: use CSS variable for Overlock font in Tailwind config
  tailwind.config.ts
Owners: @care-collective/frontend-team

fix: use CSS variable for Overlock font in Tailwind config (#30)
  tailwind.config.ts
Owners: @care-collective/frontend-team

feat: Sprint D - Polish & Launch Prep
  app/admin/applications/ApprovalActions.tsx
  app/admin/applications/page.tsx
  app/admin/help-requests/AdminRequestActions.tsx
  app/admin/help-requests/page.tsx
  app/admin/page.tsx
  app/admin/performance/page.tsx
  app/admin/users/page.tsx
  app/api/admin/applications/route.ts
  app/api/admin/metrics/route.ts
  app/api/health/deep/route.ts
  app/api/health/route.ts
  app/settings/account/page.tsx
  app/settings/layout.tsx
  app/settings/notifications/page.tsx
  app/settings/page.tsx
  app/settings/privacy/page.tsx
  components/admin/AdminReportingDashboard.tsx
  components/admin/BulkUserActions.tsx
  components/admin/PrivacyDashboard.tsx
  components/admin/UserActionDropdown.tsx
  components/admin/UserDetailModal.tsx
  components/admin/cms/CalendarEventsManager.tsx
  components/admin/cms/CommunityUpdatesManager.tsx
  components/admin/cms/EventCategoriesManager.tsx
  components/admin/cms/SiteContentManager.tsx
  docs/performance/lighthouse-audit-plan.md
  lib/security/env-validation.ts
  lib/security/middleware.ts
  lib/validations.ts
  next.config.js
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team

feat: Sprint E navigation & settings polish
  app/admin/AdminPageClient.tsx
  app/admin/page.tsx
  app/login/page.tsx
  app/settings/layout.tsx
  components/MobileNav.tsx
  components/layout/PlatformLayout.tsx
  components/privacy/PrivacyDashboard.tsx
  components/ui/switch.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: Sprint E - Waiver integration and notification E2E tests
  app/about/page.tsx
  app/api/auth/complete-profile/route.ts
  app/api/notifications/route.ts
  app/api/requests/[id]/route.ts
  app/complete-profile/page.tsx
  app/signup/page.tsx
  app/waiver/page.tsx
  docs/prompts/sprint-e-start.md
  public/sw.js
  tests/e2e/notifications.spec.ts
  tests/e2e/pages/NotificationsPage.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/product-team, @care-collective/design-team, @care-collective/qa-team

fix: Address PR review comments for waiver integration
  .claude/settings.local.json
  app/(preview)/waiver-preview/page.tsx
  app/api/auth/complete-profile/route.ts
  app/complete-profile/page.tsx
  components/MobileNav.tsx
  components/layout/PlatformLayout.tsx
  components/legal/TypedSignatureField.tsx
  lib/constants/waiver.ts
  public/sw.js
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/design-team

feat: Sprint E - Waiver integration and notification E2E tests (#32)
  .claude/settings.local.json
  app/(preview)/waiver-preview/page.tsx
  app/about/page.tsx
  app/api/auth/complete-profile/route.ts
  app/api/notifications/route.ts
  app/api/requests/[id]/route.ts
  app/complete-profile/page.tsx
  app/signup/page.tsx
  app/waiver/page.tsx
  components/MobileNav.tsx
  components/layout/PlatformLayout.tsx
  components/legal/TypedSignatureField.tsx
  docs/prompts/sprint-e-start.md
  lib/constants/waiver.ts
  public/sw.js
  tests/e2e/notifications.spec.ts
  tests/e2e/pages/NotificationsPage.ts
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/product-team, @care-collective/design-team, @care-collective/qa-team

feat: Sprint E navigation & settings polish (#31)
  app/admin/AdminPageClient.tsx
  app/admin/page.tsx
  app/login/page.tsx
  app/settings/layout.tsx
  components/privacy/PrivacyDashboard.tsx
  components/ui/switch.tsx
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: correct column name in privacy dashboard query and use font utility
  components/LogoutButton.tsx
  components/privacy/PrivacyDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: check linked identities for Google OAuth profile creation
  app/auth/callback/route.ts
Owners: @care-collective/security-team, @care-collective/backend-team

fix: correct column name in privacy dashboard query and use font utility (#33)
  components/LogoutButton.tsx
  components/privacy/PrivacyDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: check linked identities for Google OAuth profile creation (#34)
  app/auth/callback/route.ts
Owners: @care-collective/security-team, @care-collective/backend-team

feat: add optional Caregiving Situation field to signup forms
  app/api/auth/complete-profile/route.ts
  app/complete-profile/page.tsx
  app/signup/page.tsx
  lib/validations.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/security-team, @care-collective/design-team

feat: add optional Caregiving Situation field to signup forms (#35)
  app/api/auth/complete-profile/route.ts
  app/complete-profile/page.tsx
  app/signup/page.tsx
  lib/validations.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/security-team, @care-collective/design-team

fix: add admin verification check and improve CMS validation
  app/admin/layout.tsx
  app/admin/page.tsx
  app/api/admin/bulk-operations/route.ts
  components/admin/cms/CalendarEventsManager.tsx
  components/admin/cms/SiteContentManager.tsx
  lib/validations/cms.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

fix: add client-side validation for virtual_link in calendar events
  components/admin/cms/CalendarEventsManager.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: add JSONB type guards to SiteContentManager
  components/admin/cms/SiteContentManager.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: add JSONB type guards to SiteContentManager
  components/admin/cms/SiteContentManager.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: handle missing profile in waitlist page after signup
  app/admin/layout.tsx
  app/admin/page.tsx
  app/waitlist/page.tsx
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: add JSONB type guards to SiteContentManager (#38)
  components/admin/cms/SiteContentManager.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: add client-side validation for virtual_link in calendar events (#37)
  components/admin/cms/CalendarEventsManager.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
