Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

fix: Replace Hands with HandHelping icon (lucide-react compatibility)
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: Replace HandHeart with Hand icon for 'Request or Offer Help'
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Add Phase 1 completion report and remaining plan
  docs/client/PHASE_1_COMPLETION_REPORT.md
Owners: @care-collective/product-team

feat: Phase 2 - Landing page restructure with new section order and Why Join section
  app/page.tsx
  components/Hero.tsx
  components/MobileNav.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: Phase 3 - Dynamic CMS integration for landing page
  app/page.tsx
  components/Hero.tsx
  components/WhatsHappeningSection.tsx
  package-lock.json
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Resolve webpack cache conflict and CMS date validation
  .playwright-mcp/hand-icon-complete.png
  .playwright-mcp/hand-icon-deployed.png
  .playwright-mcp/hand-icon-final.png
  .playwright-mcp/hand-icon-how-it-works.png
  .playwright-mcp/hand-icon-live.png
  .playwright-mcp/hand-icon-verification.png
  components/admin/cms/CalendarEventsManager.tsx
  docs/client/PHASE_3_4_PLANNING_PROMPT.md
  docs/client/PHASE_3_REMAINING_TASKS.md
  next.config.js
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team

feat: Add exchange offer field for mutual aid reciprocity
  app/api/requests/[id]/edit/route.ts
  app/requests/new/page.tsx
  components/help-requests/EditRequestForm.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/help-requests/RequestDetailContent.tsx
  lib/database.types.ts
  lib/validations.ts
  supabase/migrations/20251116000000_add_exchange_offer_field.sql
  to-do-checklist
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/database-team

fix: Resolve modal scrolling issues on desktop and mobile
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/help-requests/RequestDetailContent.tsx
  components/help-requests/RequestDetailModal.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add exchange_offer field to optimized query types for edit form
  components/help-requests/EditRequestForm.tsx
  lib/queries/help-requests-optimized.ts
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/design-team

Fix: Resolve npm run dev crash, fix all linting errors, and resolve lucide-react import issues
  .gitignore
  app/admin/applications/page.tsx
  app/admin/page.tsx
  app/crisis-resources/page.tsx
  app/dashboard/page.tsx
  app/design-system/permissions/page.tsx
  app/help/page.tsx
  app/page.tsx
  app/privacy-policy/page.tsx
  app/profile/page.tsx
  app/requests/page.tsx
  app/waitlist/page.tsx
  components/ContactExchange.tsx
  components/ContactForm.tsx
  components/FilterPanel.tsx
  components/Hero.tsx
  components/SafeAsyncComponent.tsx
  components/WhatsHappeningSection.tsx
  components/admin/BugReportDetailModal.tsx
  components/admin/BugReportsList.tsx
  components/admin/PrivacyDashboard.tsx
  components/beta/BetaWelcomeModal.tsx
  components/beta/BugReportButton.tsx
  components/help-requests/HelpRequestCardWithMessaging.tsx
  components/help-requests/RequestDetailContent.tsx
  components/messaging/ConversationList.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/PendingOffersSection.tsx
  components/notifications/NotificationDropdown.tsx
  components/privacy/PrivacyDashboard.tsx
  lib/global-polyfills.js
  lib/messaging/realtime.ts
  lib/security/csrf-protection.ts
  lib/supabase/admin.ts
  package-lock.json
  package.json
  public/sw.js
  tests/database/rls-security.test.ts
Owners: @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/design-team, @care-collective/qa-team

fix: Update PrivacyDashboard component
  components/privacy/PrivacyDashboard.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: align conversation status types with database schema
  components/messaging/MessageInput.tsx
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessagingDashboard.tsx
  components/messaging/PresenceIndicator.tsx
  lib/messaging/types.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team

feat(phase-1): Complete critical UI/UX and performance fixes
  app/dashboard/page.tsx
  app/login/page.tsx
  app/page.tsx
  app/requests/new/page.tsx
  app/requests/page.tsx
  app/signup/page.tsx
  components/MobileNav.tsx
  hooks/useAuthNavigation.ts
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/security-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/design-team

fix: Remove area code from footer and optimize mobile nav spacing
  app/page.tsx
  components/MobileNav.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: Update sign out button color to #BB6446
  app/page.tsx
  components/LogoutButton.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add professional header to login and signup pages
  app/login/page.tsx
  app/signup/page.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team

feat: Update dashboard header with logo linking to landing page
  components/layout/PlatformLayout.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Increase logo size across all headers for better visibility
  app/login/page.tsx
  app/signup/page.tsx
  components/layout/PlatformLayout.tsx
Owners: @care-collective/security-team, @care-collective/frontend-team, @care-collective/core-team

style: Update logout button to soft pastel coral-red
  app/page.tsx
  components/LogoutButton.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: Darken logout button to deeper coral-red
  app/page.tsx
  components/LogoutButton.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add messaging onboarding guided tour and contextual help tooltips (Phase 2.1)
  app/providers.tsx
  components/messaging/ConversationList.tsx
  components/messaging/ConversationPanel.tsx
  components/messaging/ConversationSkeleton.tsx
  components/messaging/HelpTooltip.tsx
  components/messaging/MessageThreadPanel.tsx
  components/messaging/MessagingDashboard.tsx
  components/messaging/MessagingOnboarding.tsx
  components/ui/tooltip.tsx
  package-lock.json
  package.json
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Improve messaging onboarding tour positioning across all viewports
  components/messaging/MessagingOnboarding.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Optimize messaging performance with database RPC and React Query (Phase 2.2)
  app/providers.tsx
  docs/launch-2026/PHASE_2.2_PERFORMANCE_SUMMARY.md
  hooks/useMessagingQuery.ts
  lib/messaging/client.ts
  lib/query-client.ts
  package-lock.json
  package.json
  supabase/migrations/20251121000000_optimize_conversation_queries.sql
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team

feat: Phase 2.3 - Messaging Visual Design Polish
  components/messaging/ConversationHeader.tsx
  components/messaging/ConversationList.tsx
  components/messaging/MessageBubble.tsx
  components/messaging/TypingIndicator.tsx
  components/ui/avatar.tsx
  docs/launch-2026/PHASE_2.3_COMPLETION_SUMMARY.md
  docs/launch-2026/SESSION_PROMPT_PHASE_2_3.md
  lib/messaging/types.ts
  supabase/migrations/20251123000000_add_profile_pictures.sql
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/database-team

docs: Add comprehensive Phase 2.3 testing session prompt with Playwright MCP
  docs/launch-2026/SESSION_PROMPT_PHASE_2_3_TESTING.md
Owners: @care-collective/product-team

feat: Apply Phase 2.3 profile pictures migration
  lib/database.types.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Update messaging page to use conversations_v2 RPC (Phase 2.2/2.3 migration)
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Correct data transformation from list_conversations_v2 RPC
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

docs: Add Phase 2.3 final test report and session prompt
  docs/launch-2026/PHASE_2.3_FINAL_TEST_REPORT.md
  docs/launch-2026/SESSION_PROMPT_PHASE_2_3_DEBUG_AND_TEST.md
Owners: @care-collective/product-team

docs: Add session handoff for Phase 2.3 completion
  docs/launch-2026/SESSION_HANDOFF_PHASE_2_3_COMPLETE.md
Owners: @care-collective/product-team

perf: Optimize dashboard queries and remove debug logging
  app/dashboard/page.tsx
Owners: @care-collective/product-team, @care-collective/frontend-team

feat: Add profile picture picker with default avatars
  1s
  SYSTEM_INSTRUCTIONS.txt
  app/profile/page.tsx
  client-emails.txt
  components/profile/avatar-picker.tsx
  components/profile/profile-avatar-section.tsx
  docs/CARE_COLLECTIVE_PROJECT_DESCRIPTION.txt
  docs/client/MEETING_NOTES_2025-11-20.md
  docs/launch-2026/BUG_REPORT_MESSAGING_INBOX.md
  docs/launch-2026/E2E_TESTING_GUIDE.md
  docs/launch-2026/E2E_TEST_RESULTS_PRODUCTION.md
  docs/launch-2026/MASTER_PLAN.md
  docs/launch-2026/PHASE_2.3_TEST_REPORT.md
  docs/launch-2026/QUICK_REFERENCE.md
  docs/launch-2026/README.md
  docs/launch-2026/SESSION_HANDOFF_E2E_TESTING.md
  docs/launch-2026/TIMELINE_DIAGRAM.md
  docs/launch-2026/phases/phase-1-critical-fixes.md
  docs/launch-2026/phases/phase-2-messaging.md
  docs/launch-2026/phases/phase-3-dashboard-profiles.md
  docs/launch-2026/phases/phase-4-multi-helper.md
  docs/launch-2026/phases/phase-5-background-check.md
  docs/launch-2026/phases/phase-6-events-calendar.md
  docs/launch-2026/phases/phase-7-testing.md
  docs/launch-2026/phases/phase-8-launch-prep.md
  docs/meeting-todo.md
  lib/avatars/defaults.ts
  lib/supabase/admin.ts
  public/avatars/defaults/caring-hands.svg
  public/avatars/defaults/circles.svg
  public/avatars/defaults/community.svg
  public/avatars/defaults/heart-circle.svg
  public/avatars/defaults/leaf.svg
  public/avatars/defaults/star.svg
  public/avatars/defaults/sunburst.svg
  public/avatars/defaults/waves.svg
  public/sw.js
  supabase/migrations/20251122000000_fix_conversation_rpc_v2.sql
  supabase/migrations/20251125000000_create_avatars_storage.sql
Owners: @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team, @care-collective/backend-team, @care-collective/design-team, @care-collective/database-team

feat: Add caregiving situation field to user profiles
  app/profile/page.tsx
  components/profile/caregiving-situation-editor.tsx
  lib/supabase/admin.ts
  public/sw.js
  supabase/migrations/20251125000001_add_caregiving_situation.sql
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/design-team, @care-collective/database-team

docs: Add session handoff for profile enhancements
  docs/launch-2026/SESSION_HANDOFF_PROFILE_ENHANCEMENTS.md
Owners: @care-collective/product-team

feat: Add profile edit functionality and improve avatar designs
  app/profile/page.tsx
  components/MobileNav.tsx
  components/layout/PlatformLayout.tsx
  components/profile/profile-field-editor.tsx
  public/avatars/defaults/caring-hands.svg
  public/avatars/defaults/circles.svg
  public/avatars/defaults/community.svg
  public/avatars/defaults/heart-circle.svg
  public/avatars/defaults/leaf.svg
  public/avatars/defaults/star.svg
  public/avatars/defaults/sunburst.svg
  public/avatars/defaults/waves.svg
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

fix: Use string icon names instead of component props for serialization
  app/profile/page.tsx
  components/profile/profile-field-editor.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Update branding - CARE caps, mutual support terminology, new colors
  app/api/notify/route.ts
  app/help/page.tsx
  app/layout.tsx
  app/messages/page.tsx
  app/page.tsx
  app/privacy-policy/page.tsx
  app/terms/page.tsx
  app/waitlist/page.tsx
  components/dashboard/BetaBannerWithModal.tsx
  docs/client-alignment-2025/00-overview.md
  docs/client-alignment-2025/01-phase-global-foundation.md
  docs/client-alignment-2025/02-phase-landing-page.md
  docs/client-alignment-2025/03-phase-individual-pages.md
  docs/client-alignment-2025/04-phase-cleanup-features.md
  lib/email-service.ts
  tailwind.config.ts
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/product-team

feat: Landing page redesign per client feedback
  app/page.tsx
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

style: Replace terra cotta dividers with subtle alternating backgrounds
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: Use subtle shadows to divide sections
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
