Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

Simplify conversation creation responses and update clients
  __tests__/api/messaging/conversations.test.ts
  __tests__/messaging/MessagingDashboard.test.tsx
  app/api/messaging/conversations/route.ts
  hooks/useMessaging.ts
Owners: @care-collective/qa-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

test: stabilize messaging API and dashboard coverage
  __tests__/api/messaging/conversations.test.ts
  __tests__/messaging/MessagingDashboard.test.tsx
Owners: @care-collective/qa-team

feat: Simplify conversation creation responses and update clients (#15)
  __tests__/api/messaging/conversations.test.ts
  __tests__/messaging/MessagingDashboard.test.tsx
  app/api/messaging/conversations/route.ts
  hooks/useMessaging.ts
Owners: @care-collective/qa-team, @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team

fix: Add V2 support to messages page to fix 'having a moment' error
  app/messages/page.tsx
  lib/messaging/service-v2.ts
  supabase/migrations/20251031000001_add_list_conversations_v2.sql
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/database-team

fix: Transform V2 conversation data to match ConversationWithDetails type
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

security: Complete Session 2 security audit remediation
  2025-10-30-caveat-the-messages-below-were-generated-by-the-u.txt
  2025-10-30-create-subagent-tasks-in-parallel-when-possible.txt
  app/api/admin/users/[userId]/actions/route.ts
  app/api/admin/users/route.ts
  app/api/health/route.ts
  app/api/messaging/conversations/route.ts
  app/api/test-auth/route.ts
  app/api/test-service-role/route.ts
  docs/messaging-rebuild/DEPLOYMENT_SUMMARY.md
  docs/messaging-rebuild/FIX_SUMMARY.md
  docs/messaging-rebuild/MESSAGES_PAGE_FIX.md
  docs/security/csp-nonce-implementation.md
  lib/api/admin-auth.ts
  lib/database.types.ts
  lib/security/middleware.ts
  lib/supabase/admin.ts
  lib/supabase/server.ts
  lib/validations/index.ts
  middleware.ts
  next.config.js
  package.json
  public/sw.js
  scripts/create-admin-user.js
  scripts/database/run-migrations.js
  scripts/deployment/verify-setup.js
  scripts/development/apply-rls-fix.js
  scripts/development/create-maureen-admin.js
  scripts/development/test-connection.js
Owners: @care-collective/core-team, @care-collective/backend-team, @care-collective/product-team, @care-collective/security-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

fix: Update BulkUserActions type to match database schema
  components/admin/BulkUserActions.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Make BulkUserActions User interface fully nullable
  components/admin/BulkUserActions.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Handle nullable verification_status in getVerificationStatusBadge
  app/admin/users/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team

fix: Handle nullable created_at in formatTimeAgo
  app/admin/users/page.tsx
Owners: @care-collective/backend-team, @care-collective/security-team

fix: Convert action type for sendApplicationDecision
  app/api/admin/applications/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Use nullish coalescing for emailNotifications length check
  app/api/admin/metrics/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Add null guard for emailNotifications in ternary
  app/api/admin/metrics/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Handle messages as array in moderation process route
  app/api/admin/moderation/[id]/process/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Simplify messages array handling
  app/api/admin/moderation/[id]/process/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Use adminUser.id instead of undefined user variable
  app/api/admin/users/[userId]/actions/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Replace ZodError.errors with .issues for correct Zod v3 API
  app/api/messaging/conversations/[id]/messages/route.ts
  app/api/messaging/conversations/route.ts
  app/api/messaging/messages/[id]/report/route.ts
  app/api/messaging/preferences/route.ts
  app/api/privacy/user-data/route.ts
  components/messaging/MessageInput.tsx
  lib/validations/index.ts
  public/sw.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/frontend-team, @care-collective/design-team

fix: Move exportRequestId to extra field in ErrorContext
  app/api/privacy/user-data/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Add explicit type annotation for exchange parameter
  app/api/privacy/user-data/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Add type annotations for implicit any parameters
  app/api/privacy/user-data/route.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Allow null for profileStatus in DiagnosticData type
  components/DiagnosticPanel.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add conversations field to V2RPCResult interface
  lib/messaging/service-v2.ts
Owners: @care-collective/backend-team, @care-collective/core-team

fix: Handle profiles as array in messages page
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add type casting for profiles access in messages page
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add type casting for help_requests access
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Add missing required fields to conversation object
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Cast missing conversation properties as any
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Cast conversations array as any for MessagingDashboard prop
  app/messages/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Cast safe Requests as any for RequestsListWithModal prop
  app/requests/page.tsx
Owners: @care-collective/product-team, @care-collective/backend-team

fix: Move error to extra field in ErrorContext
  components/ContactExchange.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Move another error to extra field in ErrorContext
  components/ContactExchange.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Remove undefined fieldsToEncrypt variable reference
  components/ContactExchange.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Allow null for userId in ErrorContext interface
  lib/error-tracking.ts
Owners: @care-collective/backend-team, @care-collective/security-team

fix: Move requestId to extra field
  components/ContactExchange.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Provide default for nullable currentUserId in audit entry
  components/ContactExchange.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Move requestId to extra in error context
  components/ContactExchange.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Fix all ErrorContext type errors and export conflicts
  components/ContactExchange.tsx
  components/DiagnosticPanel.tsx
  lib/privacy/user-controls.ts
  lib/security/contact-encryption.ts
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/design-team

fix: Return ReactElement instead of null in DynamicComponents loading states
  components/DynamicComponents.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: Convert hasComponentStack boolean to string in ErrorBoundary
  components/ErrorBoundary.tsx
Owners: @care-collective/frontend-team

fix: Remove non-existent ErrorInfo properties in ErrorBoundary
  components/ErrorBoundary.tsx
Owners: @care-collective/frontend-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
