Repository musickevan1/care-collective-preview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @care-collective/core-team, @care-collective/devops-team, @care-collective/frontend-team, @care-collective/backend-team, @care-collective/security-team, @care-collective/database-team, @care-collective/product-team, @care-collective/ai-team, @care-collective/qa-team, @care-collective/design-team

feat: Redesign homepage to match wireframe with organic blob backgrounds and bolder typography
  app/globals.css
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(hero): Update blob background to match wireframe layout
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix(hero): Match wireframe exactly - text badge, solid colors, correct blob positions
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: add homepage low-fidelity wireframe components
  .gitignore
  .prompts/homepage-client-updates.md
  .prompts/homepage-review-fixes.md
  .prompts/homepage-wireframe-redesign.md
  app/design-system/wireframe/annotated/page.tsx
  app/design-system/wireframe/page.tsx
  components/HomepageWireframe.tsx
  components/HomepageWireframeAnnotated.tsx
  docs/documents/Send to Evan 1024.docx
  docs/documents/email-home-page.pdf
  docs/documents/home-page-content.docx
  docs/documents/home-page-content.md
  docs/documents/home-page-content.pdf
  docs/documents/myresponse.pdf
  docs/documents/requirements.xml
  docs/homepage-wireframe.jpg
  public/sw.js
  types/lucide-react.d.ts
Owners: @care-collective/core-team, @care-collective/product-team, @care-collective/design-team, @care-collective/frontend-team

fix: allow dusty rose blob to flow across sections
  components/HomepageWireframe.tsx
  components/HomepageWireframeAnnotated.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: make background blobs responsive across viewports
  components/HomepageWireframe.tsx
  components/HomepageWireframeAnnotated.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

refactor: redesign hero background blobs for better mobile layout
  components/HomepageWireframe.tsx
  components/HomepageWireframeAnnotated.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: allow sage blob to blend into next section instead of being cut off
  app/page.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: apply same blob overflow fix to wireframe component
  components/HomepageWireframe.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: add curved bottom divider to About section for ribbon effect
  app/page.tsx
  components/HomepageWireframe.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: adjust profile photo position to show more of head
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: adjust profile photo position higher
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: center profile photo to show full head
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: nudge profile photo up slightly
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: enhance hero section with logo, larger fonts, and display font
  app/layout.tsx
  components/Hero.tsx
  lib/fonts.ts
  public/sw.js
  tailwind.config.ts
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/backend-team, @care-collective/design-team

feat: increase hero text sizes for desktop, fix CARE acronym formatting
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Add hero image showcase page for client review
  app/hero-showcase/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Redesign hero section with Kinderground-inspired split layout
  app/globals.css
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Optimize hero: increase text size, reduce whitespace, enlarge image
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

Hero: much larger headline, reduced whitespace, fix blob cutoff
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: polish hero section - larger headline, repositioned CTA, mobile-first layout
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: fix hero feedback - larger headline, move CTA down, fix blob clipping
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

style: make CARE Collective headline massive, shrink CTA button
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: polish homepage - navigation, typography, animations
  app/globals.css
  app/page.tsx
  components/Hero.tsx
  hooks/useSmoothScroll.ts
  public/hero-image.jpg
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

feat: enhance hero with shimmer text, magnetic button, and 100vh layout
  app/globals.css
  components/AnimatedGradientText.tsx
  components/Hero.tsx
  components/MagneticButton.tsx
  components/MouseGradientBackground.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: repair gradient text rendering - use Tailwind classes instead of inline styles
  app/globals.css
  components/AnimatedGradientText.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: increase hero text sizes significantly
  components/AnimatedGradientText.tsx
  components/Hero.tsx
  docs/development/landing-page-hero-enhancements.md
  docs/homepage-cleanup-polish-plan.md
Owners: @care-collective/frontend-team, @care-collective/core-team, @care-collective/product-team

fix: use inline styles to override globals.css h1 constraints
  components/AnimatedGradientText.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: reduce headline size to balanced clamp(2.5rem, 8vw, 6rem)
  components/AnimatedGradientText.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: implement two-tone split headline with readability improvements
  components/AnimatedGradientText.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: hero adjustments - smaller eyebrow, remove acronym, plain description
  components/AnimatedGradientText.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: gradient CARE text + add acronym back with bolded letters
  components/AnimatedGradientText.tsx
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

feat: Add Supabase auth email templates with CARE Collective branding
  supabase/config.toml
  supabase/templates/confirm_signup.html
  supabase/templates/email_change.html
  supabase/templates/email_change_notification.html
  supabase/templates/invite.html
  supabase/templates/magic_link.html
  supabase/templates/reauthentication.html
  supabase/templates/reset_password.html
Owners: @care-collective/backend-team, @care-collective/database-team

fix: Remove leading ./ from Supabase template paths
  supabase/config.toml
Owners: @care-collective/backend-team, @care-collective/database-team

feat: disable beta testing UI for production launch 🤖 Generated with Claude Code
  app/api/beta/bug-report/route.ts
  app/dashboard/page.tsx
  app/layout.tsx
  components/beta/BetaTesterWrapper.tsx
  components/beta/BetaWelcomeModal.tsx
  components/beta/BugReportButton.tsx
  components/dashboard/BetaBannerWithModal.tsx
  public/sw.js
  scripts/archive/beta/create-beta-users-prod.js
  scripts/archive/beta/create-beta-users.js
  scripts/archive/beta/diagnose-beta-messaging.js
  scripts/archive/beta/final-beta-check.js
  scripts/archive/beta/reset-database-for-beta.js
  scripts/archive/beta/reset-for-beta.sql
  scripts/archive/beta/reset-production-for-beta.sh
  scripts/archive/beta/update-beta-passwords.js
  scripts/archive/beta/verify-beta-setup.js
  scripts/verify-beta-setup.js
Owners: @care-collective/backend-team, @care-collective/core-team, @care-collective/product-team, @care-collective/frontend-team, @care-collective/design-team, @care-collective/database-team

fix: Correct Vercel git deployment configuration
  vercel.json
Owners: @care-collective/devops-team

feat: add subtle gradient animation to CARE word in hero section
  CLAUDE.md
  components/AnimatedGradientText.tsx
  docs/context-engineering/agent-workflow-system.md
  public/sw.js
Owners: @care-collective/product-team, @care-collective/frontend-team, @care-collective/core-team, @care-collective/design-team

style: Add bold styling to CARE acronym description
  components/Hero.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

fix: make gradient animation continuous smooth loop without rubberband effect
  app/globals.css
  public/sw.js
Owners: @care-collective/frontend-team, @care-collective/design-team

fix: Correct homepage description to match Hero component
  app/page.tsx
Owners: @care-collective/frontend-team, @care-collective/core-team

.github/CODEOWNERS:

# CODEOWNERS for Care Collective
# This file defines who should review different parts of the codebase
# GitHub will automatically request reviews from the appropriate owners

# Default owners for everything in the repo
# This is a fallback for when no specific rule matches
* @care-collective/core-team

# CI/CD Pipeline and GitHub Actions
/.github/ @care-collective/devops-team @care-collective/core-team
/.github/workflows/ @care-collective/devops-team
/.github/branch-protection-rules.md @care-collective/devops-team
/.github/CI-CD-SETUP.md @care-collective/devops-team

# Core application code
/app/ @care-collective/frontend-team @care-collective/core-team
/components/ @care-collective/frontend-team @care-collective/core-team
/lib/ @care-collective/backend-team @care-collective/core-team

# Security-related files
/lib/security/ @care-collective/security-team @care-collective/core-team
/middleware.ts @care-collective/security-team @care-collective/backend-team
*.security.* @care-collective/security-team

# Database and Supabase
/supabase/ @care-collective/backend-team @care-collective/database-team
/scripts/ @care-collective/backend-team @care-collective/database-team
*.sql @care-collective/database-team

# PRP Methodology and Documentation
/PRPs/ @care-collective/product-team @care-collective/core-team
/PRPs-agentic-eng/ @care-collective/product-team @care-collective/ai-team
**/prp-*.md @care-collective/product-team
**/PRP_*.md @care-collective/product-team

# Configuration files
package.json @care-collective/core-team
package-lock.json @care-collective/core-team
next.config.ts @care-collective/frontend-team @care-collective/security-team
tsconfig.json @care-collective/frontend-team @care-collective/core-team
tailwind.config.ts @care-collective/frontend-team
vitest.config.ts @care-collective/frontend-team @care-collective/core-team

# Testing
/tests/ @care-collective/qa-team @care-collective/core-team
**/*.test.* @care-collective/qa-team
**/*.spec.* @care-collective/qa-team
/test-*.* @care-collective/qa-team

# Documentation
README.md @care-collective/core-team @care-collective/product-team
SECURITY.md @care-collective/security-team @care-collective/core-team
*.md @care-collective/product-team

# Deployment and Infrastructure
vercel.json @care-collective/devops-team
.vercelignore @care-collective/devops-team
Dockerfile @care-collective/devops-team
docker-compose*.yml @care-collective/devops-team

# Environment and Secrets
.env* @care-collective/security-team @care-collective/devops-team
.gitignore @care-collective/core-team

# Styling
/app/globals.css @care-collective/frontend-team @care-collective/design-team
/app/styles/ @care-collective/frontend-team @care-collective/design-team
**/*.css @care-collective/frontend-team

# API Routes
/app/api/ @care-collective/backend-team @care-collective/core-team

# Admin functionality
/app/admin/ @care-collective/backend-team @care-collective/security-team

# Public assets
/public/ @care-collective/frontend-team @care-collective/design-team

# Hooks and utilities
/hooks/ @care-collective/frontend-team
/lib/utils.ts @care-collective/frontend-team @care-collective/backend-team

# Error handling and logging
/lib/error-*.ts @care-collective/backend-team @care-collective/security-team
/lib/logger.ts @care-collective/backend-team
/components/ErrorBoundary.* @care-collective/frontend-team
/components/ErrorState.* @care-collective/frontend-team

# Feature flags and configuration
/lib/features.ts @care-collective/product-team @care-collective/backend-team

# Authentication and authorization
/lib/auth.ts @care-collective/security-team @care-collective/backend-team
/app/auth/ @care-collective/security-team @care-collective/backend-team
/app/login/ @care-collective/security-team @care-collective/frontend-team
/app/signup/ @care-collective/security-team @care-collective/frontend-team

# Core business logic
/app/requests/ @care-collective/product-team @care-collective/backend-team
/app/dashboard/ @care-collective/product-team @care-collective/frontend-team

# Email and notifications
email-client.* @care-collective/backend-team @care-collective/product-team

# Scripts and automation
/scripts/run-prp.sh @care-collective/ai-team @care-collective/product-team
/apply-security-fix.sh @care-collective/security-team
/setup-github.sh @care-collective/devops-team

# Team-specific overrides (more specific rules take precedence)

# Critical security files require multiple approvals
/lib/security/middleware.ts @care-collective/security-team @care-collective/backend-team @care-collective/core-team
/lib/security/sql-safety.ts @care-collective/security-team @care-collective/database-team @care-collective/core-team

# Core configuration requires core team approval
/next.config.ts @care-collective/core-team
/package.json @care-collective/core-team

# Database migrations require special attention
/supabase/migrations/ @care-collective/database-team @care-collective/backend-team @care-collective/core-team

# AI and PRP tooling
/PRPs/scripts/ @care-collective/ai-team @care-collective/product-team
/PRPs-agentic-eng/scripts/ @care-collective/ai-team

# Design system components
/components/ui/ @care-collective/design-team @care-collective/frontend-team
/app/design-system/ @care-collective/design-team @care-collective/frontend-team
